:root {
    --primaryColor: #6d6afe;
    --redColor: #ff5b56;
    --blackColor: #111322;
    --whiteColor: #ffffff;
    --grayColor1: #f0f6ff;
    --grayColor2: #e7effb;
    --grayColor3: #ccd5e3;
    --grayColor4: #9fa6b2;
    --grayColor5: #3e3e43;
}