* {
  box-sizing: border-box;
}

:root {
  --primary: #6d6afe;
  --red: #ff5b56;
  --jungle-black: #111322;
  --black: #000;
  --white: #fff;
  --bg-color: #f0f6ff;
  --gray2: #e7effb;
  --gray3: #ccd5e3;
  --gray4: #9fa6b2;
  --gray5: #3e3e43;
  --button-text-color: #f5f5f5;
  --p-color: #6b6b6b;
  --grad-purple-to-blue: linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%);
  --pc-max-size: 1920px;
}

body {
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 400;
  max-width: var(--pc-max-size);
  background-color: var(--bg-color);
  color: var(--black);
  margin: 0 auto;
}

.button-grad {
  padding: 16px 20px;
  border-radius: 8px;
  background: var(--grad-purple-to-blue);
  color: var(--button-text-color);
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
}

a {
  text-decoration: none;
}
