:root {
  --Primary: #6D6AFE;
  --Blue1: #A4CEFF;
  --Blue2: #6FBAFF;
  --Blue3: #6D7CCD;
  --Blue4: #52888522;
  --Blue5: #68E8F9;
  --Blue6: #9AB9D7;
  --Red1: #FF5B56;
  --Red2: #FF9F9F;
  --Red3: #FE8A8A;
  --Yellow: #FFD88B;
  --Black: #111322;
  --White: #FFFFFF;
  --Gray1: #3E3E43;
  --Gray2: #9FA6B2;
  --Gray3: #CCD5E3;
  --Gray4: #E7EFFB;
  --Gray5: #F0F6FF;
  --Gray6: #676767;
  --Gray7: #CFCFCF;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Pretendard-Regular';
}

a {
  cursor: pointer;
}

header {
  padding: 20px 200px;
  background-color: var(--Gray5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9999;
}

.signin {
  display: inline-block;
  width: 128px;
  height: 53px;
  border-radius: 8px;
  background: linear-gradient(90deg, rgb(109,106,254), rgb(106,227,254));
  color: var(--White);
  text-align: center;
  line-height: 53px;
  font-size: 18px;
  text-decoration: none;
}

main {
  font-size: 0px;
}

.top {
  width: 100%;
  height: 1073px;
  text-align: center;
  background-color: var(--Gray5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.topic {
  font-size: 64px;
  font-weight: 700;
}

.gradient-Primary-Red2 {
  background: linear-gradient(90deg, var(--Primary), var(--Red2));
  color: transparent;
  -webkit-background-clip: text;
}

.gradient-Red3-Blue1 {
  background: linear-gradient(90deg, var(--Red3), var(--Blue1));
  color: transparent;
  -webkit-background-clip: text;
}

.gradient-Yellow-Blue2 {
  background: linear-gradient(90deg, var(--Yellow), var(--Blue2));
  color: transparent;
  -webkit-background-clip: text;
}

.gradient-Blue3-Blue4 {
  background: linear-gradient(90deg, var(--Blue3), var(--Blue4));
  color: transparent;
  -webkit-background-clip: text;
}

.gradient-Blue5-Blue6 {
  background: linear-gradient(90deg, var(--Blue5), var(--Blue6));
  color: transparent;
  -webkit-background-clip: text;
}

.topic2 {
  font-size: 48px;
  font-weight: 700;
}

.link-add{
  display: inline-block;
  width: 350px;
  height: 53px;
  border-radius: 8px;
  background: linear-gradient(90deg, rgb(109,106,254), rgb(106,227,254));
  color: var(--White);
  text-align: center;
  line-height: 53px;
  font-size: 18px;
  text-decoration: none;
  margin: 48px 0 90px;
}

/* 아래 주석 img/top.png 이미지로 대체 */
.white-box {
  width: 1118px;
  /* height: 659px; */
  /* border-radius: 25px; */
  /* background: linear-gradient(var(--White), var(--Gray3)); */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* overflow-y: scroll; */
  /* padding-bottom: 120px; */
  /* scrollbar-width: none; */
}

/* .white-box-content {
  width: 768px;
}

.search-box {
  position: relative;
}

.search-img {
  position: absolute;
  top: 41px;
  left: 16px;
  width: 16px;
  height: 16px;
}

.search {
  width: 696px;
  background-color: #F5F5F5;
  border-width: 0;
  outline: none;
  margin-top: 28px;
  margin-bottom: 35px;
  padding: 13px 36px;
  border-radius: 10px;
  font-size: 14px;
}

.option-box {
  display: flex;
  justify-content: space-between;
}

.options > .option > img {
  width: 14px;
}

.option {
  border: 1px solid var(--Primary);
  border-radius: 5px;
  font-size: 14px;
  padding: 6px 8px;
}

.option:not(:last-child),
.option-selected:not(:last-child) {
  margin-right: 8px;
}

.option-selected {
  font-size: 14px;
  border-radius: 5px;
  padding: 6px 8px;
  color: var(--White);
  background-color: var(--Primary);
}

.directory-add {
  font-size: 14px;
  color: var(--Primary);
}

.card-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 16px;
  gap: 8px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  border-radius: 10px;
  text-align: left;
  gap: 8px;
  background-color: var(--White);
  padding-bottom: 16px;
}

.state {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 34px;
  height: 34px;
  z-index: 1;
}

.card :not(img) {
  padding: 0px 16px;
}

.card-detail {
  letter-spacing: -1px;
  font-size: 16px;
  font-weight: 700;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.card .card-img {
  object-fit: cover;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-time {
  color: var(--Gray2);
}

.card-date {
  font-size: 14px;
} */

.middle {
  position: relative;
  z-index: 1;
  background-color: var(--White);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-top: -120px;
  padding-top: 120px;
}

.middle-box{
  display: flex;
  margin-bottom: 100px;
}

.middle-content-left {
  width: 458px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.middle-content-right {
  width: 458px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.detail {
  display: block;
  margin-top: 10px;
  font-size: 16px;
  color: #6B6B6B;
}

.detail-img {
  width: 550px;
}

.detail-box {
  display: flex;
  justify-content: space-between;
  margin-top: 120px;
}

footer {
  height: 160px;
  background-color: var(--Black);
  display: flex;
  justify-content: space-between;
  padding: 35px 104px 0px 104px;
  color: var(--Gray6);
}

.footer-center {
  display: flex;
  gap: 30px;
}

.footer-center a {
  color: var(--Gray7);
  font-family: "Abel";
  text-decoration: none;
}