/* NAV */
nav {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 200px;
  background-color: var(--bg-color);
  z-index: 10;
}

.logo {
  background-image: url(../Images/logo.svg);
  flex: 0 0 133px;
  height: 24px;
}

nav .button-grad.signin {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 128px;
}

/* HEADER */
header {
  background-color: var(--bg-color);
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 70px 360px 0;
}

.intro h1 {
  text-align: center;
  font-size: 64px;
  font-weight: 700;
  line-height: 125%;
  white-space: nowrap;
  margin: 0;
}

.intro .grad {
  background: linear-gradient(91deg, #6d6afe 17.28%, #ff9f9f 74.98%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.intro .button-grad.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  margin: 40px 0;
}

.intro img {
  width: 1200px;
  height: 590px;
}

/* MAIN */
main {
  background-color: var(--white);
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 120px 0 50px;
  gap: 157px;
}

.content .description {
  white-space: nowrap;
}

.content h2 {
  font-size: 48px;
  font-weight: 700;
  letter-spacing: -0.3px;
  margin: 0;
}

.content p {
  color: var(--p-color);
  font-family: Abel;
  font-weight: 400;
  line-height: 150%;
  margin: 10px 0 0;
}

.content img {
  width: 550px;
  height: 450px;
  background-color: var(--bg-color);
  border-radius: 15px;
}

/* GRADIENT */
.grad.pink {
  background: linear-gradient(96deg, #fe8a8a 1.72%, #a4ceff 74.97%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.grad.yellow {
  background: linear-gradient(277deg, #6fbaff 59.22%, #ffd88b 93.66%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.grad.purple {
  background: linear-gradient(99deg, #6d7ccd 19.76%, rgba(82, 136, 133, 0.22) 52.69%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.grad.blue {
  background: var(--Fandom-K-gra-blue-to-pink, linear-gradient(271deg, #fe578f -9.84%, #68e8f9 107.18%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* FOOTER */
footer {
  background-color: var(--white);
  padding-top: 120px;
}

.info {
  display: flex;
  justify-content: space-between;
  color: #676767;
  background-color: var(--jungle-black);
  padding: 32px 104px 64px 104px;
  height: 160px;
}

.more {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}

.more a {
  color: #cfcfcf;
}

.sns {
  display: flex;
  gap: 12px;
}

.sns a {
  width: 20px;
  height: 20px;
}

@media (max-width: 1500px) {
  nav .button-grad.signin {
    flex-basis: 100px;
  }
  .intro h1 {
    font-size: 48px;
  }
  .intro .button-grad.signup {
    width: 280px;
  }
  .intro img {
    width: 900px;
  }
  .content {
    gap: 80px;
  }
  .content img {
    width: 400px;
    height: auto;
  }
  .content h2 {
    font-size: 40px;
  }
}
