.header {
  position: sticky;
  top: 0;
  height: 93px;
  padding: 20px 200px;
  background: var(--gray5-color);
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1520px;
  margin: 0 auto;
}

.header__link-login {
  width: 128px;
}

.main {
  height: 953px;
  background: url("../img/main_bg.png"), var(--gray5-color);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 1118px;
}

.main__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding-top: 70px;
}

.main__text {
  font-size: 64px;
  font-weight: 700;
  line-height: 80px;
  text-align: center;
}

.main__text--gradient {
  background: linear-gradient(91.26deg, #6d6afe 17.28%, #ff9f9f 74.98%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main__link {
  width: 350px;
}

.main-section {
  padding: 120px 32px 170px;
}

.main-section__inner {
  display: flex;
  flex-direction: column;
  gap: 100px;
  max-width: 998px;
  margin: 0 auto;
}

.main-article {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-article:nth-child(even) {
  flex-direction: row-reverse;
}

.main-article__content {
  width: 291px;
}

.main-article__title {
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
}

.main-article:nth-child(1) .main-article__title--gradient {
  background: linear-gradient(95.63deg, #fe8a8a 1.72%, #a4ceff 98.97%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-article:nth-child(2) .main-article__title--gradient {
  background: linear-gradient(277.01deg, #6fbaff 13.22%, #ffd88b 94.66%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-article:nth-child(3) .main-article__title--gradient {
  background: linear-gradient(
    99.5deg,
    #6d7ccd 53.76%,
    rgba(82, 136, 133, 0.22) 125.69%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-article:nth-child(4) .main-article__title--gradient {
  background: linear-gradient(271.36deg, #fe578f -50.84%, #68e8f9 51.18%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-article__p {
  margin-top: 10px;
  font-family: "Abel", "Pretendard", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #6B6B6B;
}

.main-article__img {
  width: 550px;
}

.footer {
  padding: 32px 104px 108px;
  background-color: var(--black-color);
  font-family: "Acme", sans-serif;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  max-width: 1712px;
  margin: 0 auto;
}

.footer__address {
  flex-basis: 120px;
  color: #676767;
}

.footer__nav {
  display: flex;
  gap: 30px;
  color: #cfcfcf;
}

.footer__sns {
  flex-basis: 120px;
  display: flex;
  gap: 12px;
}

/* 로그인 */

