body {
    background-color: #F0F6FF;
}

main{
    width: 100%;
}
.main-wrap {
    width: 400px;
    margin: 238px auto;
}

.wrap-head-box {
    width: 218px;
    margin: 0 auto;
}

.sign-box {
    margin: 16px 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
}

.sign-box > a {
    color : var(--main-color);
    position: relative;
    top: -4px;
}

.email-box {
    margin-top: 24px;
}

.email-box > label, .password-box > label {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 16.71px;
}

.password-box {
    margin : 24px 0 0;
}

.password-wrap {
    position: relative;
}

.password-wrap > button {
    position: absolute;
    top: 35px;
    right: 10px;
}

input {
    width: 370px;
    height: 60px;
    border: 1px solid var(--border-gray);
    border-radius: 8px;
    margin: 12px 0 0;
    padding: 0 15px;
}

input:focus {
    outline: none;
    border-color: var(--main-color);
}

.login-btn{
    width: 100%;
    height: 53px;
    font-size: 1.125rem;
    line-height: 21.48px;
    font-weight: 600;
    color: #F5F5F5;
    text-align: center;
    background: linear-gradient(90deg,#6D6AFE,#6AE3FE);
    border-radius: 8px;
    border: none;
    text-decoration: none;
    margin: 30px 0 0;
}

.sns-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E7EFFB;
    border: 1px solid var(--border-gray);
    border-radius: 8px;
    padding: 12px 24px;
    margin: 32px 0 0;
}

.sns-box > span {
    font-size: 0.875rem;
    font-weight: 400;
}

.sns-list {
    display: flex;
    justify-content: space-between;
    width: 100px;
}

.sns-list img {
    width: 42px;
    height: 42px;
}