:root {
  --Primary: #6D6AFE;
  --Blue1: #A4CEFF;
  --Blue2: #6FBAFF;
  --Blue3: #6D7CCD;
  --Blue4: #52888522;
  --Blue5: #68E8F9;
  --Blue6: #9AB9D7;
  --Red1: #FF5B56;
  --Red2: #FF9F9F;
  --Red3: #FE8A8A;
  --Yellow: #FFD88B;
  --Black: #111322;
  --White: #FFFFFF;
  --Gray1: #3E3E43;
  --Gray2: #9FA6B2;
  --Gray3: #CCD5E3;
  --Gray4: #E7EFFB;
  --Gray5: #F0F6FF;
  --Gray6: #676767;
  --Gray7: #CFCFCF;
}

* {
  box-sizing: border-box;
}

a {
  cursor: pointer;
}

body {
  margin: 0;
  font-family: 'Pretendard-Regular';
  background-color: var(--Gray5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signin-box,
.signup-box {
  margin-top: 16px;
  margin-bottom: 35px;
  font-size: 16px;
  letter-spacing: -2px;
}

.label-div {
  width: 100%;
  font-size: 14px;
}

input {
  width: 100%;
  height: 60px;
  margin-top: 16px;
  margin-bottom: 24px;
  border-radius: 8px;
  border:1px solid var(--Gray3);
  outline-color: var(--Primary);
  padding-left: 10px;
}

.password-repeat-input-diff {
  border: 1px solid red;
  outline-color: red;
}

.password-repeat-input {
  border:1px solid var(--Gray3);
  outline-color: var(--Primary);
}

.password-div {
  width: 100%;
  position: relative;
}

.password-img {
  position: absolute;
  right: 16px;
  top: 37px;
  cursor: pointer;
}

.signin-text,
.signup-text {
  font-weight: 600;
  color: var(--Primary);
  position: relative;
  left: 2px;
  bottom: 2px;
}

.signin,
.signup {
  display: inline-block;
  width: 100%;
  height: 53px;
  border-radius: 8px;
  background: linear-gradient(90deg, rgb(109,106,254), rgb(106,227,254));
  color: var(--White);
  text-align: center;
  line-height: 53px;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  margin-top: 30px;
  margin-bottom: 32px;
}

.social-login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 66px;
  background-color: var(--Gray4);
  border-radius: 8px;
  border: 1px solid var(--Gray3);
  font-size: 14px;
}

.social-login span {
  margin-left: 30px;
}

.images {
  margin-right: 30px;
}

.images :not(:last-child) {
  margin-right: 10px;
}

#diff-msg {
  position: absolute;
  left: 0;
  bottom: 0;
  color: red;
  font-size: 14px;
}