@import "reset.css";

* {
  box-sizing: border-box;
}


html{
  height:100%;
}

body{
  position:relative;
  width:100%;
  height:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contents{
  display: flex;
  flex-direction: column;
  gap:30px;
}

.title{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo{
  height: 38px;
}

h2{
  color: black;
  font-size: 16px;
  font-family: Pretendard;
  font-weight: 400;
  line-height: 24px;
}

h2 a{
  color: #6D6AFE;
 font-size: 16px;
 font-family: Pretendard;
 font-weight: 600;
}

h3{
  color: black;
  font-size: 14px;
  font-family: Pretendard;
  font-weight: 400;
  margin-bottom: 12px;
}

.input-form{
  display: flex;
  gap:24px;
  flex-direction: column;
}

input{
  width: 400px;
  padding: 18px 15px;
  border-radius: 8px;
  border: 1px #CCD5E3 solid;
  justify-content: center;
  align-items: center;
  color: #373740;
  font-size: 16px;
  font-family: Pretendard;
  font-weight: 400;
  line-height: 24px;
}

input:focus {
  outline: 1px #6D6AFE solid;
}


button{
  width: 100%;
  padding: 16px 20px;
  background: linear-gradient(91deg, #6D6AFE 0%, #6AE3FE 100%);
  border-radius: 8px; 
  border: none;
  color: #F5F5F5;
  font-size: 18px;
  font-family: Pretendard;
  font-weight: 600;
}

.social-login{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px;
  background-color: #E7EFFB;
  border-radius: 8px;
  border: 1px #CCD5E3 solid;
}

.social-icon{
  display: flex;
  gap: 16px
}

.social-login p{
  color: #373740;
  font-size: 14px;
  font-family: Pretendard;
  font-weight: 400;
}

.social-login .image2{
  width:42px;
  height:42px;
  background-color: #FEE500;
  border-radius: 37.33px;
  position: relative;
}

.social-login .image1{
  width:42px;
  height:42px;
  background-color: #FFFFFF;
  border-radius: 37.33px;
  position: relative;
  border: 1px #D3D4DD solid;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.image2 img{
  position: absolute;
  top: 10px;
  bottom: 8px;
  left: 8px;
  right: 8px;
}

.image1 img{
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
}

.pwd-input-check p{
  color: #FF5B56;
  font-size: 14px;
  font-family: Pretendard;
  font-weight: 400;
}