
body {
  background: var(--grey-1);
}

section {
  margin: 0 auto;
  width: 400px;
  margin-top: 238px;
  /* border: 2px solid red; */
}

.logo {
  display: block;
  margin: 0 auto 4px;
}

.form {
  margin: 30px auto;
}

.text {
  color: var(--black, #000);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  text-align: center;
  align-items: center;
}

.text.signup {
  color: var(--primary); 
}

label {
  text-align: left;
  display: block;
  margin-top: 24px;
  margin-bottom: 12px;
}

input {
  width: 100%;
  padding: 18px 15px;
  border: 1px solid var(--grey-3);
  margin: 0;
  border-radius: 8px;
  background: var(--white);
}

input:focus {
  outline-color: var(--primary) ;
}

.password-container {
  position: relative;
}

.eye {
  position: absolute;
  top: 18px;
  right: 15px;
}


button {
  padding: 16px 20px;
  /* width: 128px; */
  border-radius: 8px;
  background: linear-gradient(91deg, #6d6afe 0.12%, #6AE3FE 101.84%) ;
  width: 100%;
  border: none;
  margin-top: 30px;
  
  color: var(--off-white);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  
  text-decoration: none;

  text-align: center;
  align-items: center;

  cursor: pointer;
}

.social {
  display: flex;
  width: 100%;
  padding: 3px 24px;
  justify-content: space-between;
  align-items: center;

  border-radius: 8px;
  border: 1px solid var(--grey-3);
  background: var(--grey-2);
}

.social-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}