*{
    box-sizing: border-box;
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.ttf') format("truetype");
    font-display: swap;
}

:root {
    --Linkbrary-primary-color: #6D6AFE; 
    --Linkbrary-red: #FF5B56; 
    --The-julge-black: #111322;
    --Linkbrary-white: #FFFFFF;
    --Linkbrary-gray100: #3E3E43;  
    --linkbrary-gray60: #9FA6B2; 
    --Linkbrary-gray20: #CCD5E3; 
    --Linkbrary-gray10: #E7EFFB; 
    --Linkbrary-bg: #F0F6FF; 
}

.landing-page{
        width: 100%;
        min-width: 1080px;
        position: relative;
        overflow: scroll;
        margin: 0;

    header{
        position: relative;
        background-color: var(--Linkbrary-bg);
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .gnb{
        display: flex;
        position: sticky;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        top: 0;
        padding: 20px 200px;
        margin: 0 auto;
        background: var(--Linkbrary-bg);
        z-index: 2;
    }

    .gnb div{
        display: flex;
    }

    #signin{
        width: 128px;
        text-align: center;
    }

    header article{
        max-width: 1200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }

    header article img{
        border-top-right-radius: 25px;
        border-top-left-radius: 25px;
    }
    header .dim{
        width: 1118px;
        height: 659px;
        margin: 50px 41px -120px;
        border-radius: 25px;
        background: linear-gradient(180deg, rgba(196, 196, 196, 0.00) 67.68%, #F0F6FF 94.76%);
        box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.08);
    }
    .dim-shadow{
        width: 100%;
        max-width: 1118px;
        height: 120px;
        position: absolute;
        bottom: -120px;
        box-shadow: 0px -25px 60px 5px rgba(0, 0, 0, 0.08);
    }

    h1{
        font-family: Pretendard, 돋움;
        font-size: 64px;
        font-weight: 700;
        margin: 70px auto 0;
        text-align: center;
    }
    main{
        background: #ffffff;
        position: relative;
        z-index: 1;
    }
    #link-add{
        width: 350px;
        text-align: center;
        margin: 40px 0;
    }

    h2{
        font-family: Pretendard, sans-serif;
        font-weight: 700;
        font-size: 48px;
        margin: 0;
        line-height: 57.6px;
    }

    figure{
        font-family: Abel, sans-serif;
        font-weight: 400;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 157px;
        max-width: 1920px;
        width: 100%;
        margin: 0 auto;
        padding: 50px;
    }
    figure:first-of-type{
        padding-top: 120px;
    }
    figure div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        width: 291px;
        margin-right: 32px;
    }
    figure img{
        max-width: 550px;
        height: auto;
        border-radius: 15px;
    }
    .img3{
        position: relative;
        max-width: 550px;
        max-height: 450px;
        width: 100%;
        height: 450px;
        margin-right: 0;
        img:first-of-type{
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            border-radius: 25px;
        }
        .dim{
            background: rgba(0, 0, 0, 0.40);
            position: absolute;
            width: 100%;
            inset: 0;
            border-radius: 25px;
        }
        img:last-of-type{
            position: absolute;
            top: 17%;
            right: 10%;
            width: 80%;
            height: 80%;
        }
    }
    
    figure p{
        margin: 10px 0 0;
        color: #6b6b6b;
        line-height: 24px;
    }
    #keyword-emp1{
        background: linear-gradient(91deg, #6D6AFE 17.28%, #FF9F9F 74.98%);
        color: transparent;
        -webkit-background-clip: text;
    }
    #keyword-emp2{
        background: linear-gradient(96deg, #FE8A8A 1.72%, #A4CEFF 74.97%);
        color: transparent;
        -webkit-background-clip: text;
    }
    #keyword-emp3{
        background: linear-gradient(277deg, #6FBAFF 59.22%, #FFD88B 93.66%);
        color: transparent;
        -webkit-background-clip: text;
    }
    #keyword-emp4{
        background: linear-gradient(99deg, #6D7CCD 19.76%, rgba(82, 136, 133, 0.22) 52.69%);
        color: transparent;
        -webkit-background-clip: text;
    }
    #keyword-emp5{
        background: var(--Fandom-K-gra-blue-to-pink, linear-gradient(271deg, #FE578F -9.84%, #68E8F9 107.18%));
        color: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

}
.signin-page{
    margin: 0;
    width: 100%;
    background: var(--Linkbrary-bg);
    display: flex;
    justify-content: center;
    
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 400px;
        height: auto;
        margin-top: 238px;
        font-family: Pretendard;
        font-weight: 400;
        font-size: 16px;
    }
    main.info{
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }
    .info a{
        color: var(--Linkbrary-primary-color, #6D6AFE);
        font-weight: 600;
    }
    form{
        margin: 30px 0 18px;
    }
    label{
        margin: 12px auto;
        font-size: 14px;
    }
    input {
        margin: 12px auto 24px;
        padding: 18px 15px;
        border: 1px solid var(--Linkbrary-gray20);
        border-radius: 8px;
        width: 400px;
    }
    input:focus {
        outline: none; 
        border-color:  var(--Linkbrary-primary-color); 
    }
    input[type='password']{
        background-image: url(eye-off.svg);
        background-repeat: no-repeat;
        background-position: right 18px center;
    }
    .error-message{
        display: none;
    }
    input:invalid{
        border-radius: 8px;
        border: 1px solid var(--Linkbrary-red, #FF5B56);
        background: var(--Linkbrary-white, #ffffff);
    }
    input:invalid + .error-message{
        color: var(--Linkbrary-red, #FF5B56);
    }
    #signin-button{
        width: 400px;
        text-align: center;
    }
    #signup-button{
        width: 400px;
        text-align: center;
    }    
    .social-signup{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 12px 24px;
        margin-top: 32px;
        border-radius: 8px;
        border: 1px solid var(--Linkbrary-gray20, #CCD5E3);
        background: var(--Linkbrary-gray10, #E7EFFB);
    }
    .social-signup img{
        margin-left: 16px;
        width: 42px;
        height: 42px;
    }
}

.cta-button{
    padding: 16px 20px;
    background: linear-gradient(90deg,var(--Linkbrary-primary-color),#6ae3fe);
    border-radius: 8px;
    font-family: Pretendard, sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #f5f5f5;
    cursor: pointer;
    text-decoration: none;
}
a {
    cursor: pointer;
}

.footer-with-blank{
    margin: 0;
    padding: 120px 0 0;
}
footer{
    background-color: var(--The-julge-black);
    color: #cfcfcf;
    font-size: 16px;
    font-family: Acme;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 104px 64px;

    .footer-left-text{
        color: #676767;
    }

    .footer-middle-text a{
        color: #cfcfcf;
        margin: 0 15px;
        text-decoration: none;
    }

    .social-icons{
        display: flex;
        justify-content: space-between;
        gap: 12px;
    }
}