/* reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* custom */

* {
  box-sizing: border-box;
}

body{
  display: inline-flex;
  align-items: flex-start;
  gap: 8px;
  background: #FFF;
}

content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.nav{
  position: sticky;
  z-index: 1;
  display: flex;
  padding: 20px 200px;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  background: var(--Linkbrary-bg, #F0F6FF);
}

.nav-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.top {
  display: flex;
  width: 1920px;
  padding: 70px 360px 0px 360px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
  background: #F0F6FF;
}

.top-text {
  color: #000;
  text-align: center;
  font-family: Pretendard;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px; /* 125% */
}

.color-text1 {
  background: linear-gradient(91deg, #6D6AFE 17.28%, #FF9F9F 74.98%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-top {
  display: flex;
  padding: 120px 461px 50px 461px;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  align-items: center;
  gap: 157px;
}

.section-text {
  display: flex;
  width: 291px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.section-color-text {
  color: #000;
  font-family: Pretendard;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.3px;
}

.color-text2 {
  background: linear-gradient(96deg, #FE8A8A 1.72%, #A4CEFF 74.97%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.description {
  color: #6B6B6B;
  font-family: Abel;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.section1-imgs {
  position: relative;
  width: 550px;
  height: 450px;
  border-radius: 15px;
  background: #F0F6FF;
}

.section1-img {
  display: inline-flex;
  align-items: center;
  gap: -12px;
  margin: 88px auto;
}

.downloadicon {
  position: absolute;
  top: 312px;
  right: 142px;
  bottom: 92px;
  left: 362px;
}

.section {
  display: flex;
  padding: 50px 461px;
  justify-content: center;
  align-items: center;
}

.img2 {
  display: flex;
  width: 550px;
  padding: 114px 68px 66px 68px;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background: #F0F6FF;
}

.color-text3 {
  background: linear-gradient(277deg, #6FBAFF 59.22%, #FFD88B 93.66%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.color-text4 {
  background: linear-gradient(99deg, #6D7CCD 19.76%, rgba(82, 136, 133, 0.22) 52.69%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.img3 {
  position: relative;
  width: 550px;
  height: 450px;
  border-radius: 15px;
  background-image: url(section_img2-1.png);
  background-position: center;
  border-radius: 25px;
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.08);
}

.section-img2-2 {
  position: absolute;
  top: 121px;
  right: 77ox;
  bottom: 77px;
  left: 77px; 
}

.img4 {
  position: relative;
  width: 550px;
  height: 450px;
  border-radius: 15px;
  background: #F0F6FF;
}

.section-img3 {
  position: absolute;
  top: 35px;
  left: 35px;
}

.color-text5 {
  background: var(--Fandom-K-gra-blue-to-pink, linear-gradient(271deg, #FE578F -9.84%, #68E8F9 107.18%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer {
  display: flex;
  height: 280px;
  padding-top: 120px;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  border-radius: 30px;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.02);
}

.footer-section {
  display: flex;
  height: 160px;
  padding: 32px 104px 64px 104px;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  align-self: stretch;
  background: var(--The-julge-black, #111322);
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.footer1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.codeit2023 {
  color: #676767;
  text-align: center;
  font-family: Acme;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer2 {
  display: flex;
  width: 181.111px;
  align-items: flex-start;
  gap: 30px;
}

.footer-center {
  color: #CFCFCF;
  font-family: Acme;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.icon {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.none {
  text-decoration: none;
}