* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
nav {
  width: 100%;
  height: 93px;
  padding: 20px 200px 20px 200px;
  background-color: #f0f6ff;
  position: sticky;
  top: 0;
  z-index: 1;
}
.bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo {
  width: 133px;
  height: 24px;
}
.login {
  background: linear-gradient(90.99deg, #6d6afe 0.12%, #6ae3fe 101.84%);
  border-radius: 8px;
  color: #f5f5f5;
  font-family: "Pretendard";
  font-size: 18px;
  font-weight: 600;
  line-height: 21px;
  padding: 16px 20px;
  text-align: left;
  white-space: nowrap;
}
.main {
  background-color: #f0f6ff;
  height: 953px;
  overflow: hidden;
}
.main-description {
  font-family: Pretendard;
  font-size: 64px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 0px;
  text-align: center;
}
.text-gradient {
  background: linear-gradient(91.26deg, #6d6afe 17.28%, #ff9f9f 74.98%);
  color: transparent;
  background-clip: text;
}
.signUp {
  display: flex;
  justify-content: center;
}
.addLink {
  margin: 24px;
  background: linear-gradient(90.99deg, #6d6afe 0.12%, #6ae3fe 101.84%);
  color: #f5f5f5;
  display: flex;
  width: 350px;
  height: 53px;
  padding: 16px, 20px, 16px, 20px;
  border-radius: 8px;
  gap: 10px;
  justify-content: center;
  align-items: center;
  font-family: Pretendard;
  font-size: 18px;
  font-weight: 600;
}
.header-img-section {
  display: flex;
  justify-content: center;
}
.header-img {
  width: 1118px;
  height: 659px;
  top: 50px;
  left: 41px;
  border-radius: 25px;
}
.section {
  width: 998px;
  margin: 120px auto 50px;
  display: grid;
  grid-template: 1fr/2fr;
  grid-template-areas: "img des";
}
.section.save {
  grid-template-areas: "des img";
}
.save-description {
  grid-area: des;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
h2 {
  font-family: Pretendard;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 0px;
  text-align: left;
}
.link-gradient {
  background: linear-gradient(95.63deg, #fe8a8a 1.72%, #a4ceff 74.97%);
  color: transparent;
  background-clip: text;
}
.save-img {
  grid-area: img;
  width: 550px;
  height: 450px;
  border-radius: 15px;
  background-color: #f0f6ff;
}
.description {
  font-family: Abel;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  margin-top: -20px;
  color: rgba(107, 107, 107, 1);
}
/* .section.manage {
  display: grid;
  grid-template: 1fr/2fr;
  grid-template-areas: "img des";
} */
.manage-image {
  width: 550px;
  height: 450px;
  padding: 114px, 68px, 66px, 68px;
  border-radius: 15px;
  grid-area: img;
}
.manage-gradient {
  background: linear-gradient(277.01deg, #6fbaff 59.22%, #ffd88b 93.66%);
  color: transparent;
  background-clip: text;
}
.manage-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: des;
}
.section.share {
  grid-template-areas: "des img";
}
.share-gradient {
  background: linear-gradient(
    99.5deg,
    #6d7ccd 19.76%,
    rgba(82, 136, 133, 0.22) 52.69%
  );
  color: transparent;
  background-clip: text;
}
.share-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: des;
}
.share-img {
  width: 570px;
  height: 450px;
  top: -9px;
  left: -10px;
  border-radius: 25px;
  grid-area: img;
}
.section.search {
  grid-template-areas: "img des";
}
.search-img {
  width: 550px;
  height: 450px;
  border-radius: 15px;
  grid-area: img;
}

.search-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: des;
}
.search-gradient {
  background: linear-gradient(271.36deg, #fe578f -9.84%, #68e8f9 107.18%);
  color: transparent;
  background-clip: text;
}
.footer {
  background-color: rgba(17, 19, 34, 1);
  color: rgba(207, 207, 207, 1);
  width: 100%;
  height: 160px;
  padding: 32px 104px 64px;
}
.footer-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  white-space: nowrap;
}
.footer-year {
  color: rgba(103, 103, 103, 1);
}
.footer-main {
  display: flex;
  gap: 30px;
}
.footer-main a {
  color: rgba(207, 207, 207, 1);
}
