* {
  box-sizing: border-box;
}

body {
  background-color: #f0f6ff;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 238px;
  gap: 32px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.signin {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Pretendard';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  gap: 9px;
}

.tosignup {
  color: #6d6afe;
  font-family: 'Pretendard';
  font-size: 16px;
  font-weight: 600;
}

form {
  display: flex;
  flex-direction: column;
  font-family: 'Pretendard';
  font-size: 14px;
  font-weight: 400;
}

label {
  display: block;
}

input {
  display: block;
  margin-top: 12px;
  margin-bottom: 24px;
  padding: 18px 15px;
  border: 1px solid #ccd5e3;
  border-radius: 8px;
  width: 400px;
}

input:focus {
  border: 1px solid #6d6afe;
  outline: none;
}

.signin_button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90.99deg, #6D6AFE 0.12%, #6AE3FE 101.84%);
  font-family: 'Pretendard';
  font-size: 18px;
  font-weight: 600;
  color: #f5f5f5;
  width: 400px;
  padding: 16px 20px;
  border-radius: 8px;
  border: 0px;
}

.social_login {
  background: rgba(231, 239, 251, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  padding: 12px 24px;
  border: 1px solid #ccd5e3;
  border-radius: 8px;
  font-family: 'Pretendard';
  font-size: 14px;
  font-weight: 400;
  color: #373740;
}

.social {
  display: flex;
  gap: 16px;
}