@font-face {
    font-family: 'Pretendard-Regular';
    src:url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight:400;
    font-style: normal;
  }

  :root {
    --Primary: #6D6AFE;
    --Red: #FF5B56;
    --Black: #111322;
    --White: #FFFFFF;
    --Grey1: #3E3E43;
    --Grey2: #9FA6B2;
    --Grey3: #CCD5E3;
    --Grey4: #E7EFFB;
    --Grey5: #F0F6FF;
    --GreyLight: #F5F5F5;
}

body {
    display: flex;
    padding: 238px 0px 253px 0px;
    justify-content: center;
    align-items: center;
    background: var(--Grey5);
}

.frame01 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.frame02 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.frame03 {
    display: flex;
flex-direction: column;
align-items: center;
gap: 16px;
}

.frame03 .logo {
    width: 210.583px;
    height: 38px;
}

.frame04 {
    display: flex;
    align-items: flex-start;
    gap: 8px;
}
.frame04 .ask {
    color: var(--black, #000);
    font-family: 'pretendard-Regular';
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}

.frame04 .signup{
    color: var(--Primary);
    font-family: 'pretendard-Regular';
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.input {
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 24px;
}

.info {
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 12px;
}

label {
    color: var(--black, #000);
    font-family: 'pretendard-Regular';
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

input {
    display: flex;
width: 400px;
height: 24px;
padding: 18px 15px;
justify-content: center;
align-items: center;
border-radius: 8px;
background: var(--White);
border: 1px solid var(--Grey3);
}

input:focus {
    outline: none;
    border: 1px solid var(--Primary);
}

.login {
    display: flex;
width: 400px;
padding: 16px 20px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 8px;
background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%));
color: var(--GreyLight);
font-family: 'pretendard-Regular';
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
cursor: pointer;
}

.social {
    display: flex;
width: 400px;
padding: 12px 24px;
justify-content: space-between;
align-items: center;
border-radius: 8px;
border: 1px solid var(--Grey3);
background: var(--Grey4);
}

p {
    color: var(--Linkbrary-gray100, #373740);
    font-family: 'pretendard-Regular';
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}