* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F0F6FF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Pretendard', sans-serif;
}

.main {
  position: absolute;
  width: 400px;
  height: 491px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

.logo {
  color: #6D6AFE;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 16px;
}

.sign_up {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Pretendard';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  gap: 8px;
}

.sign_up a {
  color: #6D6AFE;
  font-family: 'Pretendard';
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}

form {
  margin: 16px auto;
  width: 400px;
}

label {
  color: #000000;
  display: block;
  margin: 16px 0 8px;
  font-family: 'Pretendard';
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
}

input {
  color: #373740;
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #d1d1d1;
  padding: 16px 24px;
  margin: 8px 0;
  font-family: 'Pretendard';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
}

input:focus {
  outline-color: blue;
}

#eyeicon {
  position: absolute;
  right: 10px;
  top: 237px;
}

button {
  color: #F5F5F5;
  background: linear-gradient(to right, #6D6AFE, #6AE3FE);
  display: block;
  border-radius: 8px;
  border: none;
  padding: 16px;
  margin: 24px 0;
  width: 100%;
  height: 53px;
  font-family: 'Pretendard';
  font-size: 18px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  cursor: pointer;
}

.social {
  display: inline-block;
  justify-content: space-between;
  text-align: left;
  border-radius: 8px;
  border: 1px;
  padding: 16px 24px;
  margin: 8px 0;
  width: 100%;
  font-family: 'Pretendard';
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  color: #373740;
  border: 1px solid #CCD5E3;
  background-color: #E7EFFB;
  position: relative;
  width: 400px;
  height: 66px;
  padding: 12px 24px 12px 24px;
}

.social a {
  text-decoration: none;
}

.social p {
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
}

.social .icon {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translate(0%, -50%);
}