* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  weight: 700;
  font-style: normal;
}

html {
  font-family: 'Pretendard-Regular', sans-serif;
  word-break: keep-all;
}

body {
  background-color: #F0F6FF;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
}

.topbox {
  position: relative;
  left: 520px;
  top: 238px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 491px;
  gap: 32px;
}

.signintop {
  display: flex;
  flex-direction: column;
  width: 218px;
  height: 78px;
  gap: 16px;
}

.logo {
  width: 210.58px;
  height: 38px;
}

.gotosignup {
  width: 218px;
  height: 24px;
  gap: 8px;
  font-size: 16px;
}

.signupask {
  width: 123px;
  height: 24px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
}

.signup {
  font-weight: 600;
  line-height: 19.09px;
  color: #6D6AFE;
}

.inputform {
  position: relative;
  top: -230px;
  left: 520px;
  display: flex;
  width: 400px;
  height: 338px;
  gap: 32px;
  justify-content: center;
  flex-direction: column;
}


.getemail, 
.getpassword {
  width: 400px;
  height: 89px;
  gap: 12px;
}

.getemail input:focus,
.getpassword input:focus {
  outline: 1px solid blue;
} 


#inputemail,
#inputpassword {
  font-size: 14px;
  font-weight: 400;
  color: #000000;
}

#signinemail,
#signinpassword {
  width: 400px;
  height: 60px;
  padding: 18px 15px 18px 15px;
  border-radius: 8px;
  border: 1px solid #CCD5E3;
}

.passwordbox {
  position: relative;
}

.eyevector {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 16px;
  height: 13.82px;
  background-color: #373740;
}

.getemail:focus {
  border-color: blue;
}

.entering {
  position: relative;
  top: -280px;
  left: 520px;
}

.entersignin {
  width: 400px;
  height: 53px;
  padding: 16px 20px 16px 20px;
  border-radius: 8px;
  gap: 10px;
  font-weight: 600;
  font-size: 18px;
  color: #F5F5F5;
  background-image: linear-gradient(90.99deg, #6D6AFE 0.12%, #6AE3FE 101.84%);
  border: none;
}

.anothersignin {
  position: relative;
  top: -248px;
  left: 520px;
  display: flex;
  width: 400px;
  height: 66px;
  border-radius: 8px;
  border: 1px;
  padding: 12px 24px;
  justify-content: space-between;
  align-items: center;
  background-color: #E7EFFB;
}

.sociallogin {
  font-weight: 400;
  font-size: 14px;
  color: #373740;
}

.anothersigninicon {
  width: 100px;
  height: 42px;
  gap: 16px;
}

.googleicon,
.kakaoicon {
  width: 42px;
  height: 42px;
}



