* {
  box-sizing: border-box;
}

:root {
  --primary: #6d6afe;
  --red: #ff5b56;
  --black: #111322;
  --white: #ffffff;
  --gray1: #3e3e43;
  --gray2: #9fa6b2;
  --gray3: #ccd5e3;
  --gray4: #e7effb;
  --gray5: #f0f6ff;
}

form {
  margin: 16px auto;
  width: 400px;
}

.signin-title {
  margin-top: 80px;
  margin-bottom: 16px;
  text-align: center;
  font-size: 20px;
  text-decoration: none;
  width: 210px;
  height: 38px;
}

.signin-question {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.member {
  font-size: 16px;
}

.signup {
  font-size: 16px;
  margin: 10px;
  color: var(--primary);
}

label {
  display: block;
  margin-bottom: 12px;
}

input {
  display: block;
  border: 1px solid var(--gray3);
  padding: 16px 24px;
  border-radius: 10px;
  margin-bottom: 24px;
  width: 400px;
}

input:focus {
  outline: 1px solid var(--primary);
}

.password-form {
  position: relative;
  align-items: center;
}

.eye-button {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 364px;
  top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
}
.eye-img {
  position: absolute;
  width: 30px;
  height: 30px;
}

.buttton-login {
  background: linear-gradient(90deg, var(--primary) 0.12%, #6ae3fe 101.84%);
  text-align: center;
  margin-top: 6px;
  padding: 16px 173px;
  margin-bottom: 32px;
  border-radius: 8px;
  color: var(--white);
  font-size: 18px;
  border: none;
}

.sns {
  border: 1px solid var(--gray3);
  border-radius: 10px;
  height: 66px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  background: var(--gray4);
}

.login-sns {
  display: flex;
  justify-content: center;
  margin-left: 24px;
}

.button-icon {
  display: flex;
  justify-content: space-between;
}

.icon-google,
.icon-kakao {
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
}

.icon-google {
  margin-right: 8px;
}

.icon-kakao {
  margin-right: 24px;
}
