* {
    box-sizing: border-box;
    margin: 0;
}

header {
    z-index: 1;
    position: fixed;
    top: 0px;
    margin :auto;
    width: 100%;
    height: 93px;
    background: var(--Linkbrary-bg, #F0F6FF);
    display: flex;
    padding: 20px 200px;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    
    
}

.icon img {
    width: 133px;
    height: 24px;
}
.icon {
    flex-grow: 1;
}

.to_login {
    cursor: pointer;
    flex-basis: 128px;
    text-align: center;
    
    height: auto;
    padding: 16px 20px 16px 20px;
    color: var(--Grey-Light, #F5F5F5);
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 8px;
    background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%));
    text-decoration: none;
}
.to_login p {
    color: var(--Grey-Light, #F5F5F5);
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 88px;
    height: 21px;
}

.mainsection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    margin-top: 93px;
    width: 100%;
    height: 953px;
    background: var(--Linkbrary-bg, #F0F6FF);
    padding: 70px 360px 0px 360px;
}

.mainsection h1 {
    width: 708px;
    height: 160px;
    position: relative;
    text-align: center;
    font-family: Pretendard;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px; /* 125% */
}


.highlight {
    background: linear-gradient(96deg, #FE8A8A 1.72%, #A4CEFF 74.97%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-family: Pretendard;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px; /* 125% */
}

.plus_link {
    color: var(--Grey-Light, #F5F5F5);
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    display: flex;
    width: 350px;
    padding: 16px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%));
}
.landing1 {
    
    overflow: hidden;
    
}
.second_section {
    height: 620px;
    display: flex;
    padding: 120px 461px 50px 461px;
    justify-content: center;
    align-items: center;
    gap: 157px ;
}

.section-text {
    display: flex;
    width: 291px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    
}

.section-text h1 {
    width: 291px;
    height: auto;
    color: #000;
    font-family: "Pretendard";
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.3px;
}



.section-text p {
    color: #6B6B6B;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    align-self: stretch;
}

.landing2_img {
    width: 550px;
    height: 450px;
}

.highlight_2 {
    background: linear-gradient(96deg, #FE8A8A 1.72%, #A4CEFF 74.97%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Pretendard;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}



.third_section {
    height: 550px;
    width: 100%;
    padding: 50px 461px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap :157px;
}
.landing3_img {
    width: 550px;
}

.highlight_3 {
    background: linear-gradient(277deg, #6FBAFF , #FFD88B 93.66%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Pretendard;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.3px;
}

.fourth_section {
    width: 100%;
    height: 550px;
    display: flex;
    padding: 50px 461px;
    justify-content: center;
    align-items: center;
    gap: 157px;
    
}

.highlight_4 {
    background: linear-gradient(99deg, #6D7CCD 59.69%, rgba(82, 136, 133, 0.22));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Pretendard;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.landing4_imgs {
    width: 570px;
    height: 469px;
    flex-shrink: 0;
    background-image: url(images/landing4_back.png);
    background-color: rgba(0, 0, 0, 0.40);
    background-size: cover;
    background-position: center;
    border-radius: 25px;

    background-blend-mode: multiply;
    /* 새로 안 부분 */
}

.landing4_img {
  margin: 121px 77px;
 
}










footer {
    margin-top: 120px ;
    display: flex;
    justify-content: space-between;
    height: 160px;
    width: 100%;
    padding: 32px 104px 64px 104px;
    flex-shrink: 0;
    align-self: stretch;
    background: var(--The-julge-black, #111322);
}

footer p{
    color: #676767;
    text-align: center;
    font-family: "Acme", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer_link {
    display: flex;
    justify-content: center;
    width: 181.111px;
    align-items: flex-start;
    gap: 30px;
}

.footer_link a {
    color: #CFCFCF;
    font-family: Acme;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.footer_sns-link {
    display: flex;
    align-items: flex-start;
    gap: 12px;
}

.last_section {
    width: 100%;
    height: 550px;
    padding: 50px 461px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 157px;
}

.landing5_img {
    width: 550px;
    height: 450px;
}

.highlight_5 {
    background: rgb(104,232,249);
    background: linear-gradient(90deg, rgba(104,232,249,1) 11%, rgba(160,178,210,1) 82%, rgba(160,178,210,1) 98%, rgba(160,178,210,1) 99%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Pretendard;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
}

.login_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin-bottom: 253px;
}

.signin_body {
    background: var(--Linkbrary-bg, #F0F6FF);
}

.signin_form {
    
    width: 400px;
    height: 393px;
   
    margin: 238px auto 0px auto;
}
.signin_form .to_home {
    display: block;
    width: 210.583px;
    height: 38px;
    margin: 0 auto;
}

.signin_form img {
    display: block;
    width: 210.583px;
    height: 38px;
    margin: 0 auto;
}
.signin_form .ask_signup {
    display: flex;
    gap: 8px;
    width: 218px;
    margin: 16px auto 30px auto;
}

.ask_signup .to_signup {
    color: var(--black, #000);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    width: 123px;
    height: 24px;
}
.ask_signup a {
    color: var(--Linkbrary-primary-color, #6D6AFE);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

label {
    margin-top: 24px;
    width: 400px;
    height: 89px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--black, #000);
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

input {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: 1px solid var(--Linkbrary-primary-color, #6D6AFE);
    background: var(--Linkbrary-white, #FFF);
    padding: 18px 15px;
    color: var(--Linkbrary-gray100, #373740);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

button {
    color: var(--Grey-Light, #F5F5F5);
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 30px;
    width: 100%;
    height: 53px;
    padding: 16px 20px;
    border-radius: 8px;
    background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%));
    border: 0px;
    cursor: pointer;
}

.sns_login {
    height: 66px;
    width: 100%;
    display: flex;
    width: 400px;
    padding: 12px 24px;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    border: 1px solid var(--Linkbrary-gray20, #CCD5E3);
    background: var(--Linkbrary-gray10, #E7EFFB);
}

.sns_login p {
    color: var(--Linkbrary-gray100, #373740);
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.SNS {
    display: flex;
    gap: 16px;
}

.SNS img {
    width: 42px;
    height: 42px;
    flex-shrink: 0;
}

.SNS .google {
    border-radius: 50%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: 1px solid #D3D4DD;
}


.button:hover {
    transform: translateY(3px);
}


/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/


.signup_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin-bottom: 253px;
}

.signup_body {
    background: var(--Linkbrary-bg, #F0F6FF);
}

.signup_form {
    
    width: 400px;
    height: auto;
   
    margin: 238px auto 0px auto;
}
.signup_form .to_home {
    display: block;
    width: 210.583px;
    height: 38px;
    margin: 0 auto;
}

.signup_form img {
    display: block;
    width: 210.583px;
    height: 38px;
    margin: 0 auto;
}
.signup_form .ask_signin {
    display: flex;
    gap: 8px;
    width: 218px;
    margin: 16px auto 30px auto;
}

.ask_signin .to_signin {
    color: var(--black, #000);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    width: 123px;
    height: 24px;
}
.ask_signin a {
    color: var(--Linkbrary-primary-color, #6D6AFE);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

label {
    margin-top: 24px;
    width: 400px;
    height: 89px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--black, #000);
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

input {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: 1px solid var(--Linkbrary-gray20, #CCD5E3);
    background: var(--Linkbrary-white, #FFF);
    padding: 18px 15px;
    color: var(--Linkbrary-gray100, #373740);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

input:focus {
    outline: 1px solid #6D6AFE;
  }

button {
    color: var(--Grey-Light, #F5F5F5);
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 30px;
    width: 100%;
    height: 53px;
    padding: 16px 20px;
    border-radius: 8px;
    background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%));
    border: 0px;
    cursor: pointer;
}

.sns_login {
    height: 66px;
    width: 100%;
    display: flex;
    width: 400px;
    padding: 12px 24px;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    border: 1px solid var(--Linkbrary-gray20, #CCD5E3);
    background: var(--Linkbrary-gray10, #E7EFFB);
}

.sns_login p {
    color: var(--Linkbrary-gray100, #373740);
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.SNS {
    display: flex;
    gap: 16px;
}

.SNS img {
    width: 42px;
    height: 42px;
    flex-shrink: 0;
}

.SNS .google {
    border-radius: 50%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: 1px solid #D3D4DD;
}