html {
  font-family: Pretendard,"Abel", "Acme",sans-serif;
  word-break: keep-all;
}


body {
  color: var(--black);
  margin: 0;
}

header {
  background-color: var(--grey-1);
}

main {
  background-color: var(--white);
}

footer {
  background-color: var(--black);  
  margin-top: 100px;
}


.nav,
.head,
.contents,
.info {
  /* border: 5px solid red; */
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
} 

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: transparent;
  padding: 20px 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  cursor: pointer;
}

.nav-button {
  width: 128px;
}

.nav-button,
.head-button {
  padding: 16px 20px;
  /* width: 128px; */
  border-radius: 8px;
  background: linear-gradient(91deg, #6d6afe 0.12%, #6AE3FE 101.84%) ;
  
  color: var(--off-white);
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  
  text-decoration: none;

  text-align: center;
  align-items: center;

  cursor: pointer;
}

.head {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
  padding-top: 100px;
}

.head-text {
  text-align: center;
  font-family: Pretendard;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px; /* 125% */
  margin: 70px 0 0;
}

.head-button {
  width: 350px;
}

.head-text-gradiant {
  background: linear-gradient(91deg, #6D6AFE 17.28%, #FF9F9F 74.98%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contents {
  background: var(--white);
  display: flex;
  gap: 157px;
  max-width: 1050px;
  justify-content: space-between;
  align-items: center;
  padding: 100px 0 25px;
}


.contents-text-title {
  font-family: Pretendard;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.3px;
}

.contents-text-gradient {
  background-clip: text;
}

.contents-text-gradient.first {
  background: linear-gradient(96deg, #FE8A8A 1.72%, #A4CEFF 74.97%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contents-text-gradient.second {
  background: linear-gradient(277deg, #6FBAFF 59.22%, #FFD88B 93.66%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contents-text-gradient.third {
  background: linear-gradient(99deg, #6D7CCD 19.76%, rgba(82, 136, 133, 0.22) 52.69%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contents-text-gradient.fourth {
  background: var(--Fandom-K-gra-blue-to-pink, linear-gradient(271deg, #FE578F -9.84%, #68E8F9 107.18%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.contents-text-small {
  color: var(--grey-5);
  font-family: Abel;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 104px 64px;
}

.info-author {
  color: var(--grey-5);
  text-align: center;
  font-family: Acme;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.info-description {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.info-description a{
  color: var(--white);
  text-decoration: none;
}

.info-sns {
  display: flex;
  gap: 5px;
  justify-content: space-between;
}

