* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    -webkit-user-select: none; /* Chrome, Safari, Opera */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; 

    /* Color Define */
    --primary: #6D6AFE;
    --red: #FF5B56;
    --black: #111322;
    --white: #FFFFFF;
    --gray1: #3E3E43;
    --gray2: #9FA6B2;
    --gray3: #CCD5E3;
    --gray4: #E7EFFB;
    --gray5: #F0F6FF;
}

/* h e a d e r */
/* n a v */
svg {
    width: 100%;
    height: 100%;
}

header {
    padding: 0 200px;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 94px;
    width: 100vw;
    display: flex;
    align-items: center;
    background-color: var(--gray5);
}

.navbar {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* 로고와 버튼 스타일 */
.logo {
    cursor: pointer;
    position: relative;
    width: 133px;
    height: 24px;
    overflow: clip;
}
  
.login-button {
    width: 128px;
    height: 53px;
    border-radius: 8px;
    padding: 16px 20px;
    border: none;
    background: linear-gradient(to right, #6D6AFE, #6AE3FE);
    color: var(--white);
    font-size: 1em;
    cursor: pointer;
}

/* m a i n */
main {
    margin-top: 94px;
    padding-top: 30px;
    width: 100%;
    background-color: var(--gray5);
    display: flex;
    flex-direction: column;
    align-items: center;    
    overflow-x: hidden;
}

.main_txt{
    font-size: 64px;
    font-weight: 700;
    color: #000000;
    text-align: center;
    line-height: 80px;
}

.main_txt .main_txt_gra{
    font-size: inherit;  /*상속*/
    background: linear-gradient(to right, var(--primary), #FF9F9F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main_add_btn{
    width: 350px;
    height: 53px;
    padding: 16px 20px;
    border-radius: 8px;
    background: linear-gradient(to right, var(--primary), #6AE3FE);
    border: none;
    color: var(--white);
    margin-top: 40px;
    margin-bottom: 90px;
}

section {
    width: 75%;
    height: auto;
    background: linear-gradient(var(--white), rgba(196, 196, 196, 0.2)); /* 그라디언트의 불투명도 조절 */
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.08); 
    border-radius: 25px 25px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px 60px;
    margin-bottom: 70px;
}

.search_div{
    width: 90%;
    height: 54px;
    background-color: #F5F5F5;
    color: var(--gray1);
    border-radius: 10px;
    padding: 15px 16px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.search_svg{
    width: 15px;
    height: 15px;
}

.search_input {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    width: 100%;
    height: 50px;
}

input:focus {
    outline: none;
}

.main_btn_div{
    width: 90%;
    height: 60px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
}

/* b u t t o n */
.folder_btn_lg {
    width: auto;
    height: 35px;
    background-color: var(--white);
    color: var(--black);
    border: 1px solid var(--primary);
    border-radius: 5px;
    padding: 8px 12px;
    font-size: 0.8rem;
    cursor: pointer;
}

.folder_btn_lg:hover{
    background-color: var(--gray4);
}

.folder_btn_lg:active{
    background-color: var(--primary);
}

.folder_btn_sm {
    width: auto;
    height: 29px;
    background-color: var(--white);
    color: var(--black);
    border: 1px solid var(--primary);
    border-radius: 5px;
    padding: 6px 10px;
    font-size: 0.8rem;
    cursor: pointer;
}

.folder_btn_sm:hover{
    background-color: var(--gray4);
}

.folder_btn_sm:active{
    background-color: var(--primary);
}

.add_folder_btn{
    border: none;
    border-radius: 20px;
    background-color: var(--primary);
    color: var(--white);
    padding: 8px 12px;
    font-size: 0.8rem;
    cursor: pointer;
}

/* m o d a l*/
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal_container {
    position: relative;
    background-color: var(--white);
    margin: 15% auto;
    padding: 35px 30px;
    border: 1px solid var(--gray2);
    border-radius: 15px;
    width: 360px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}  

.close {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.modal_header {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.modal_header_title {
    font-weight: 700;
    font-size: 1.2rem;
    color: var(--black);
}

.modal_header_subtitle {
    font-size: 0.8rem;
    color: var(--gray2);
}

.modal_content_div {
    width: 100%;
    height: auto;
    gap: 8px;
    margin-bottom: 20px;
}

.modal_content {
    width: 100%;
    height: 40px;
    background-color: var(--white);
    border-radius: 8px;
    padding: 8px;
    display: flex;
    gap: 8px;
    position: relative;
}

.modal_content:hover {
    background-color: var(--gray5);
}

.modal_folder_name {
    color: var(--black);
}

.modal_content:active .modal_folder_name {
    color: var(--primary);
}

.modal_input {
    width: 100%;
    height: 50px;
    border-radius: 8px;
    padding: 14px 20px;
    color: var(--gray1);
    border: 1px solid var(--gray1);
}

.modal_input:focus {
    border: 2px solid var(--primary);
}

.modal_input:hover {
    border: 2px solid var(--primary);
}

.modal_link_cnt {
    color: var(--gray2);
}

.checkmark {
    position: absolute;
    top: 50%;
    right: 10px; 
    transform: translateY(-50%);
    width: 14px;
    height: 14px;
    visibility: hidden; 
}

.modal_content:active .checkmark {
    visibility: visible;
}
  
.modal_btn {
    width: 100%;
    height: 50px;
    border-radius: 8px;
    padding: 14px 20px;
    border: none;
    background: linear-gradient(to right, #6D6AFE, #6AE3FE);
    color: var(--white);
    font-size: 1em;
    cursor: pointer;
}

.modal_btn:hover:active{
    border: 1px var(--primary) solid;
    background: linear-gradient(to right, #6AE3FE, #6D6AFE);
}

/* c a r d */
.card_grid_container {
    width: 90%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 40px 20px; 
    margin-top: 10px;
}

.card {
    width: 100%;
    height: 350px;
    background-color: var(--white);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.07); 
    border-radius: 15px;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.card:active {
    background-color: var(--gray4);
    border: 1px solid var(--primary);
}

.star{
    width: 34px;
    height: 34px; 
    position: absolute;
    right: 5px;
    top: 5px;
}      

.card_img_div{
    width: 100%;
    height: 60%;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    overflow: hidden;
}

.card_img{
    width: 100%;
    height: 100%;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}

.card_img_div:hover .card_img {
    transform: scale(1.1); 
    transition: transform 0.3s ease; 
}

.img_thumbnail_div{
    width: 100%;
    height: 100%;
    background-color: var(--gray3);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}   

.img_thumbnail{
    width: 40%;
    height: auto;
    opacity: 0.3;
}

.img_thumbnail_div:hover .img_thumbnail {
    transform: scale(1.1); 
    transition: transform 0.3s ease; 
}

.card_txt_div{
    width: 100%;
    height: 100%;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.card_txt_div_top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 17px;
}

.left_time_p{
    color: var(--gray1);
    font-size: 0.8rem;
}

.dot_div{
    width: 21px;
    height: 17px;
}

.dot_menu {
    display: none;
    position: absolute;
    right: 10px;
    bottom: 30px;
    background-color: #fff;
    box-shadow: 0px 8px 15px 0px rgba(0,0,0,0.1);
    z-index: 1;
}

.dot_menu_item {
    padding: 10px 20px;
    font-size: 0.9rem;
    color: var(--gray1);
    cursor: pointer;
}

.dot_menu_item:hover{
    color: var(--primary);
    background-color: var(--gray4);
}

.card_txt_div_body{    
    color: var(--black);
    font-size: 1rem;
    overflow: hidden; 
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
    text-overflow: ellipsis; 
}

.card_txt_date{
    text-align: left;
    color: var(--gray1);
    font-size: 0.9rem;
}

/* a r t i c l e */
article {
    background-color: var(--white);
    padding: 50px 460px;
    width: 100vw;
    height: auto;
}

.a_frame{
    width: 1000px;
    height: 450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.a_frame.mt{
    margin-top: 120px;
}

.a_frame_txt_container{
    width: 300px;
    height: auto;
}

.a_frame_txt{
    font-size: 48px;
    font-weight: 700;
    color: #000000;
    text-align: left;
    line-height: normal;
    letter-spacing: -3px;
}

.a_frame_txt .a_frame_txt_gra1{
    font-size: inherit;  /*상속*/
    background: linear-gradient(96deg, #FE8A8A 1.72%, #A4CEFF 74.97%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.a_frame_txt .a_frame_txt_gra2{
    font-size: inherit;  /*상속*/
    background: linear-gradient(99deg, #6D7CCD 19.76%, rgba(82, 136, 133, 0.22) 52.69%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.a_frame_subtxt{
    color: #6B6B6B;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-top: 10px;
    letter-spacing: -0.7px;
}

.b_frame{
    width: 1000px;
    height: 450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.b_frame_txt_container{
    width: 310px;
    height: auto;
}

.b_frame_txt{
    font-size: 48px;
    font-weight: 700;
    color: #000000;
    text-align: right;
    line-height: normal;
    letter-spacing: -3px;
}

.b_frame_txt .b_frame_txt_gra1{
    font-size: inherit;  /*상속*/
    background: linear-gradient(277deg, #6FBAFF 59.22%, #FFD88B 93.66%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.b_frame_txt .b_frame_txt_gra2{
    font-size: inherit;  /*상속*/
    background: var(--Fandom-K-gra-blue-to-pink, linear-gradient(271deg, #FE578F -9.84%, #68E8F9 107.18%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.b_frame_subtxt{
    color: #6B6B6B;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-top: 10px;
    text-align: right;
    letter-spacing: -0.7px;
}

.article_img{
    border-radius: 15px;
    width: 550px;
    height: 450px;
    object-fit: cover; 
}

/* f o o t e r */
footer {
    width: 100%;
    height: 160px;
    background-color: var(--black);
    display: flex;
    justify-content: space-between;
    padding: 32px 104px;
    line-height: 1.6rem;
    margin-top: 120px;
}

.footer_div {
    width: 100%;
    height: 20px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.footer_codeit {
    color: #676767;
    font-size: 16px;
}

.footer_center_div{
    display: flex;
    justify-content: space-between;
    width: 163px;
    height: 18px;
}

.footer_txt {
    color: #CFCFCF;
    font-size: 16px;
    text-decoration: none;
}

.footer_icon_div{
    display: flex;
    justify-content: space-between;
    width: 116px;
    height: 18px;
}

.footer_icon_div a{
    cursor: pointer;
    width: 20px;
    height: 20px;
}
  
@media screen and (max-width: 1200px) {
    header {
        padding-left: 200px;
        padding-right: 200px;
    }
    footer {
        padding-left: 104p x;
        padding-right: 104px;
    }
}