* {
  box-sizing: border-box;
  margin: 0;
  color: inherit;
}

body {
  background-color: #F0F6FF;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
}

main {
  margin: 238px auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.header-logo {
  width: 210px;
  margin-bottom: 16px;
}

.header-none {
  color: var(--black, #000);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.header-deco {
  color: var(--Linkbrary-primary-color, #6D6AFE);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.contents {
  width: 400px;
  margin: auto;
  text-align: center;
}

.input {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.input-email, 
.input-password {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.label {
  color: var(--black, #000);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

input.email {
  display: flex;
  width: 100%;
  margin-top: 12px;
  padding: 18px 15px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--Linkbrary-gray20, #CCD5E3);
  background: var(--Linkbrary-white, #FFF);
}

/* input:focus {
  border: 1px solid red;
  background: var(--Linkbrary-white, #FFF);
} */

.input-binder {
  width: 100%;
  position: relative;
}

input.password {
  display: flex;
  width: 100%;
  margin-top: 12px;
  padding: 18px 15px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--Linkbrary-gray20, #CCD5E3);
  background: var(--Linkbrary-white, #FFF);
}

/* .password:focus {
  border: 1px solid var(--Linkbrary-primary-color, #6D6AFE);
  background: var(--Linkbrary-white, #FFF);
} */

i {
  position: absolute;
  left: 85%;
  top: 45%;
  width: 50px;
  height: 50px;
}

.login {
  margin-top: 30px;
}

.login .button {
  color: var(--Grey-Light, #F5F5F5);
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  width: 100%;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  border: 0px;
  border-radius: 8px;
  background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%)); 
  cursor: pointer;
}

.social-login {
  margin-top: 32px;
  padding: 12px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--Linkbrary-gray20, #CCD5E3);
  background: var(--Linkbrary-gray10, #E7EFFB);
  color: var(--Linkbrary-gray100, #373740);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.social-icons {
  display: flex;
  gap: 16px;
  align-items: center;
}