* {
  box-sizing: border-box;
  margin: 0;
  color: inherit;
  text-decoration: none; 
  --Primary: #6D6AFE;
  --Red: #FF5B56;
  --Black: #111322;
  --White: #FFFFFF;
  --Gray1: #3E3E43;
  --Gray2: #9FA6B2;
  --Gray3: #CCD5E3;
  --Gray4: #E7EFFB;
  --Gray5: #F0F6FF;
}

input {
  cursor: pointer;
}

/* Desktop First */

body {
  font-size: 18px;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
}

header {
  display: flex;
  padding: 20px 200px;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  background: var(--Gray5);
  position: sticky;
  top: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.header-logo {
  width: 133px;
  height: 24px;
}

.header-login {
  display: flex;
  width: 128px;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 0;
  border-radius: 8px;
  background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, var(--Primary) 0.12%, #6AE3FE 101.84%));
  color: var(--Grey-Light, #F5F5F5);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.main {
  display: flex;
  padding: 70px 0 0 0;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
  background: #F0F6FF;
}

.main-h1 {
  text-align: center;
  font-family: Pretendard;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px; /* 125% */
  color: var(--Black);
  /* min-width: 576px; */
}

@media (max-width: 500px) {
  .main-h1 { 
    font-size: 40px;
    text-align: center;
    font-family: Pretendard;
    font-style: normal;
    font-weight: 700;
    line-height: 80px; /* 125% */
    color: var(--Black); 
  }
}

.main-h1-gradient {
  background: linear-gradient(91deg, var(--Primary) 17.28%, #FF9F9F 74.98%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-h1-button {
  display: flex;
  width: 350px;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 0;
  border-radius: 8px;
  background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, var(--Primary) 0.12%, #6AE3FE 101.84%));
  color: var(--Grey-Light, #F5F5F5);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.main1 {
  display: flex;
  padding: 120px 461px 50px 461px;
  justify-content: center;
  align-items: center;
}

.main1-contents,
.main2-contents,
.main3-contents,
.main4-contents {
  display: flex;
  align-items: center;
  gap: 157px;
}

.main1-text,
.main2-text,
.main3-text,
.main4-text {
  display: flex;
  width: 291px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.main1-h2,
.main2-h2,
.main3-h2,
.main4-h2 {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.3px;
  color: var(--Black);
}

.main1-h2-gradient {
  background: linear-gradient(96deg, #FE8A8A 1.72%, #A4CEFF 74.97%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main1-text-normal,
.main2-text-normal,
.main3-text-normal, 
.main4-text-normal {
  color: #6B6B6B;
  font-family: Abel;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.main2,
.main4 {
  display: flex;
  padding: 50px 461px;
  justify-content: center;
  align-items: center;
}

.main2-h2-gradient {
  background: linear-gradient(277deg, #6FBAFF 59.22%, #FFD88B 93.66%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main3 {
  display: flex;
  padding: 50px 461px;
  justify-content: center;
  align-items: center;
}

.main3-h2-gradient {
  background: linear-gradient(99deg, #6D7CCD 19.76%, rgba(82, 136, 133, 0.22) 52.69%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main4-h2-gradient {
  background: var(--Fandom-K-gra-blue-to-pink, linear-gradient(271deg, #FE578F -9.84%, #68E8F9 107.18%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer {
  margin-top: 120px;
}

.footer-contents {
  display: flex;
  padding: 32px 104px 108px 104px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  align-self: stretch;
  background: var(--The-julge-black, #111322);
}

.footer-text1 {
  color: #676767;
  text-align: center;
  font-family: Acme;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer-text2 {
  display: flex;
  width: 181.111px;
  align-items: flex-start;
  gap: 30px;
  color: #CFCFCF;
  font-family: Acme;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer-sns {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

