@import url("config.css");

.nav {
  padding: 20px 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background: var(--Linkbrary-bg);
  z-index: 1;
}

.logo {
  cursor: pointer;
}

.login-btn {
  padding: 16px 20px;
  border-radius: 8px;
  background: var(--gra-purpleblue-to-skyblue);
  width: 128px;
  text-decoration: none;
  text-align: center;
  color: var(--Grey-Light, #f5f5f5);
  font-family: Pretendard;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.main {
  padding: 70px 360px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f0f6ff;
}

.main .description {
  text-align: center;
  font-family: Pretendard;
  width: 900px;
  font-size: 64px;
  font-weight: 700;
  line-height: 80px;
  color: #000;
}

.main .description span {
  background: linear-gradient(91deg, #6d6afe 17.28%, #ff9f9f 74.98%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.add-link.contianer {
  margin: 40px 0;
  background-color: red;
  text-align: center;
  background: var(--gra-purpleblue-to-skyblue);
  width: 350px;
  cursor: pointer;
}

.add-link {
  color: var(--Grey-Light);
  padding: 16px 20px;
  border-radius: 8px;
  border-radius: 8px;
  text-decoration: none;
}

.section {
  padding: 50px 14%;
  display: flex;
  gap: 157px;
  justify-content: space-between;
  align-items: center;
}

.section.save {
  padding: 120px 14% 50px;
}

.section .description {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.save .description h1 {
  font-family: Pretendard;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: -0.3px;
  color: #000;
}

.save .description h1 span {
  background: linear-gradient(96deg, #fe8a8a 1.72%, #a4ceff 74.97%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.save .imgs {
  width: 550px;
  height: 450px;
  border-radius: 15px;
  background: var(--Linkbrary-bg);
  padding: 88.24px 0;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.manage .card-container {
  padding: 114px 68px 66px 68px;
  border-radius: 15px;
  background-color: var(--Linkbrary-bg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.manage .card {
  background-repeat: no-repeat;
  background-size: cover;
}

.manage .description h1 {
  color: #000;
  font-family: Pretendard;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.3px;
}

.manage .description h1 span {
  background: linear-gradient(277deg, #6fbaff 59.22%, #ffd88b 93.66%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Pretendard;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.3px;
}

.description p {
  color: #6b6b6b;
  font-family: Abel;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.share .description h1 {
  color: #000;
  font-family: Pretendard;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.3px;
}

.share .description span {
  background: linear-gradient(99deg, #6d7ccd 19.76%, rgba(82, 136, 133, 0.22) 52.69%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.share .img-container {
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/share-background.png");
  border-radius: 25px;
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.08);
  width: 570px;
  height: 469px;
  flex-shrink: 0;
}

.share .popup-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
}

.search .img-container {
  padding: 55px 0 0 60px;
  border-radius: 15px;
  background: #f0f6ff;
}

.search .description h1 {
  color: #000;
  font-family: Pretendard;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.3px;
}

.search .description span {
  background: var(--Fandom-K-gra-blue-to-pink, linear-gradient(271deg, #fe578f -9.84%, #68e8f9 107.18%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer {
  margin-top: 120px;
  padding: 32px 104px 64px;
  background: var(--Black);
  display: flex;
  justify-content: space-between;
}

.corp {
  color: #676767;
  font-family: Acme;
  font-size: 16px;
  font-weight: 400;
}

.Policy.FAQ {
  display: flex;
  gap: 30px;
}

.Policy.FAQ a {
  color: #cfcfcf;
  font-family: Acme;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}

.sns {
  display: flex;
  gap: 12px;
}
