* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  height: 93px;
  background-color: #F0F6FF;
  flex: none;
  align-self: stretch;
  flex-grow: 0;
  padding-left: 8%;
  padding-right: 8%;
  z-index: 1;
}

header .logo {
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #6D6AFE;
  width: 133px;
  height: 24px;
  cursor: pointer;
}

header .login_btn {
  position: absolute;
  right: 8%;
  width: 128px;
  height: 53px;
  padding: 16px 20px 16px 20px;
  border-radius: 8px;
  border: 0;
  outline: transparent;
  cursor: pointer;
  gap: 10px;
  font-family: 'Pretendard';
  font-size: 18px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(245, 245, 245, 1);
  background: linear-gradient(90.99deg, #6D6AFE 0.12%, #6AE3FE 101.84%);
}

.container {
  left: 0;
  width: 100%;
  margin-top: 93px;
  align-items: center;
}

.contents-01 {
  background-color: #F0F6FF;
  width: 100%;
  height: 953px;
  align-items: center;
  text-align: center;
  padding: 16px 20px 16px 20px;
}

.contents-01 h2 {
  font-family: 'Pretendard';
  font-size: 64px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 0px;
  text-align: center;
  align-items: center;
  color: linear-gradient(0deg, #000000, #000000);
  position: relative;
  top: 50px;
}

.contents-01 h2 span {
  background: linear-gradient(91.26deg, #6D6AFE 17.28%, #FF9F9F 74.98%);
  color: transparent;
  -webkit-background-clip: text;
}

.register-btn {
  width: 350px;
  height: 53px;
  top: 270px;
  left: 785px;
  margin: 100px;
  border-radius: 8px;
  border: 0;
  background: linear-gradient(90.99deg, #6D6AFE 0.12%, #6AE3FE 101.84%);
  color: rgba(245, 245, 245, 1);
  font-family: 'Pretendard';
  font-size: 18px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0em;
  display: inline-block;
  cursor: pointer;
}

.search-link {
  position: relative;
  bottom: 66px;
}

h3 {
  font-family: 'Pretendard';
  font-size: 48px;
  font-weight: 700;
  line-height: 57.6px;
  letter-spacing: -0.3px;
  color: linear-gradient(0deg, #000000, #000000);
}

.contents-02 h3 span {
  background: linear-gradient(95.63deg, #FE8A8A 1.72%, #A4CEFF 74.97%);
  color: transparent;
  -webkit-background-clip: text;
}

.contents-03 h3 span {
  background: linear-gradient(277.01deg, #6FBAFF 59.22%, #FFD88B 93.66%);
  color: transparent;
  -webkit-background-clip: text;
}

.contents-04 h3 span {
  background: linear-gradient(99.5deg, #6D7CCD 19.76%, rgba(82, 136, 133, 0.22) 52.69%);
  color: transparent;
  -webkit-background-clip: text;
}

.contents-05 h3 span {
  background: linear-gradient(271.36deg, #FE578F -9.84%, #68E8F9 107.18%);
  color: transparent;
  -webkit-background-clip: text;
}

.description {
  font-family: 'Abel';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: rgba(107, 107, 107, 1);
}

.contents-02,
.contents-03,
.contents-04,
.contents-05 {
  background-color: white;
  width: 100%;
  height: 620px;
  align-items: center;
  text-align: left;
  padding: 16px 20px 16px 20px;
  position: relative;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 998px;
  height: 450px;
}

.contents-02 .text,
.contents-04 .text {
  position: absolute;
  height: 198px;
  display: block;
  top: 50%;
  transform: translate(0, -50%);
  width: 320px;
  margin-right: 128px;
}

.contents-02 .img,
.contents-04 .img {
  position: absolute;
  display: inline-block;
  top: 50%;
  transform: translate(0, -50%);
  right: 0;
}

.contents-03 .img,
.contents-05 .img {
  position: absolute;
  display: inline-block;
  top: 50%;
  transform: translate(0, -50%);
}

.contents-03 .text,
.contents-05 .text {
  position: absolute;
  display: inline-block;
  top: 50%;
  transform: translate(0, -50%);
  width: 320px;
  right: 0;
}

footer {
  position: absolute;
  width: 100%;
  height: 160px;
  padding: 32px 104px 64px 104px;
  background: rgba(17, 19, 34, 1);
  color: white;
  text-align: center;
}

.footer-content {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(3, 1fr);
  justify-content: space-between;
  width: 80%;
  height: 20px;
  place-items: center;
}

.footer-content a {
  text-decoration: none;
  color: rgba(207, 207, 207, 1);
}

.privacyfaq {
  display: flex;
  align-items: center;
  font-family: 'Acme';
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(207, 207, 207, 1);
  gap: 30px;
}

.footer-info {
  font-family: 'Acme';
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  color: rgba(103, 103, 103, 1);
  justify-self: start;
}

.footer-link {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 12px;
  justify-self: end;
}