:root {
  --primary-color: #6d6afe;
  --red-color: #ff5b56;
  --black-color: #111322;
  --white-color: #ffffff;
  --grey1-color: #3e3e43;
  --grey2-color: #9fa6b2;
  --grey3-color: #ccd5e3;
  --grey4-color: #e7effb;
  --grey5-color: #f0f6ff;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: Pretendard;
}

main {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 238px 0px 253px 0px;
  justify-content: center;
  align-items: center;
  background: var(--Linkbrary-bg, #f0f6ff);
}

.login_title div:first-child {
  display: flex;
  justify-content: center;
}

.login_title img {
  width: 210.583px;
  height: 38px;
}

.login_title_text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

.login_title_text h1 {
  color: var(--black-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.login_title_text a {
  color: var(--primary-color);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.login_form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  width: 400px;
}

.email_form label {
  color: var(--black-color);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.email_form input {
  display: flex;
  width: 400px;
  padding: 18px 15px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--primary-color);
  background: var(--white-color);
  margin-top: 12px;
  color: var(--Linkbrary-gray100, #373740);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.password_form {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.password_form label {
  color: var(--black-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.password_form input {
  display: flex;
  width: 400px;
  padding: 18px 15px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--grey3-color);
  background: var(--white-color);
}

main button {
  margin-top: 30px;
  display: flex;
  width: 400px;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: var(
    --gra-purpleblue-to-skyblue,
    linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%)
  );
  border: none;
  color: var(--white-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.another_login {
  margin-top: 32px;
  display: flex;
  width: 400px;
  padding: 12px 24px;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--Linkbrary-gray20, #ccd5e3);
  background: var(--Linkbrary-gray10, #e7effb);
}

.another_login a {
  text-decoration: none;
  color: var(--Linkbrary-gray100, #373740);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.password_form > div:nth-child(2) {
  position: relative;
}

.password_form img {
  position: absolute;
  top: 20px;
  left: 360px;
}

input:focus {
  border: 3px solid var(--primary-color);
}
