@charset "UTF-8";
/* 
2024.02.23 v1
head css
*/

/* 기타 */
html { font-size: 16px; }
.hide{ position: absolute;clip: rect(0 0 0 0); width: 1px; height: 1px; margin: -1px; overflow: hidden;}
.overflow { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.overflow2 { overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; }

/* 정렬 */
.d_flex { display: flex; align-items: center; }
.d_flex_btw { display: flex; align-items: center; justify-content: space-between; }
.d_flex_center { display: flex; align-items: center; justify-content: center; }

/* 폰트 */
.title { font-weight: 700; }
.title * { font-weight: inherit; line-height: inherit; }
.title__h2 { font-size: var(--title-size-l); line-height: 5rem; font-weight: 700; }
.title__h3 { font-size: var(--title-size-m); line-height: 3.625rem; font-weight: 700; }
.title__clip { background-clip: text !important; -webkit-text-fill-color: transparent !important; }
.title__clip.type { background: linear-gradient(to right ,var(--color-primary) , #FF9F9F); }
.title__clip.type1 { background: linear-gradient(to right ,#FE8A8A , #A4CEFF); }
.title__clip.type2 { background: linear-gradient(to right ,#6FBAFF , #FFD88B); }
.title__clip.type3 { background: linear-gradient(to right ,#6D7CCD , #528885); }
.title__clip.type4 { background: linear-gradient(to right ,#FE578F , #68E8F9); }

@media screen and (max-width: 62.5rem) {
  .title__h2 { font-size: calc(var(--title-size-l) / 1.5); line-height: 1.3; }
  .title__h3 { font-size: calc(var(--title-size-l) / 1.5); line-height: 1.3; }
}

.text__size__l { font-size: var(--font-size-l); }
.text__size__ms { font-size: var(--font-size-lm); }
.text__size__m { font-size: var(--font-size-m); line-height: 1.5rem; }
.text__size__s { font-size: var(--font-size-sm); line-height: 1.375rem; }
.text__size__ss { font-size: var(--font-size-s); }

/* button */
.btn { display: inline-block; text-align: center; border-radius: 0.5rem; }
.btn__gradient__lg { background: linear-gradient(to right ,var(--color-primary) , #6AE3FE); font-size: var(--font-size-lm); color: #fff; font-weight: 600; line-height: 3.313rem; border-radius: 0.5rem;}

/* bg - color */
.bg__gradient { background: linear-gradient(to right ,var(--color-primary) , #6AE3FE); color: #fff;}
.bg__primary { background-color: var(--color-primary); color: #fff; }

/* form */
.form__wrap { display: flex; flex-direction: column;}
.form__wrap .form__box { padding: 0.75rem 0; }
.form__wrap .form__relative { position: relative; }
.form__wrap .form__box label { display: block; padding: 0 0 0.75rem; }
.form__wrap .form__box input { padding: 1.125rem 0.938rem; width: 100%; line-height: 1.5rem; border: 1px solid var(--color-gray3); border-radius: 0.5rem; outline: none !important; }
.form__wrap .form__box input:focus { border-color: var(--color-primary); }
.form__wrap .form__box input:active { border-color: var(--color-primary); }
.form__wrap .form__box .error__text { display: none; padding: 0.375rem 0 0; font-size: var(--font-size-sm); color: var(--color-red); line-height: 1; }
.form__wrap .form__box.error .error__text { display: block; }
.form__wrap .form__box.error input { border-color: var(--color-red); }
.form__wrap .form__box .btn__pw { position: absolute; right: 0.938rem; top: 50%; transform: translateY(-50%);  padding: 0.25rem; z-index: 1;}
.form__wrap .form__box .btn__pw img { display: block; }
.form__wrap .form__box .btn__pw.pw__off { top: calc(50% + 1px); }
.form__wrap .form__box .btn__pw.pw__off .icon_on{ display: none; }
.form__wrap .form__box .btn__pw.pw__off .icon_off{ display: block; }
.form__wrap .form__box .btn__pw.pw__on .icon_on{ display: block; }
.form__wrap .form__box .btn__pw.pw__on .icon_off{ display: none; }
.form__wrap .form__box.pw input { padding-right: 3.125rem; }
.form__wrap .btn__gradient__lg { margin-top: 1.125rem; }

/* card */
.card__box { position: relative; width: 100%; max-width: 21.25rem; }
.card__box .inner { box-shadow: 0 0.313rem 1.563rem rgba(0,0,0,.08); border-radius: 0.938rem; overflow: hidden; }
.card__box.active .inner{ border: 2px solid var(--color-primary); }
.card__box .card__img { height: 12rem; overflow: hidden; }
.card__box .card__img .card__mark { position: absolute; top: 1rem; right: 1rem; width: 1.5rem; }
.card__box .card__img .card__mark.mark__on .icon_on { display: block; }
.card__box .card__img .card__mark.mark__on .icon_off { display: none; }
.card__box .card__img .card__mark.mark__off .icon_on { display: none; }
.card__box .card__img .card__mark.mark__off .icon_off { display: block; }
.card__box figcaption { padding: 0.938rem 1.25rem; }
.card__box figcaption .card__set{ padding-bottom: 0.625rem; }
.card__box figcaption .card__set span { color: #666; }
.card__box figcaption .card__date{ padding-top: 0.625rem; color: #333; }
.card__box .card__btn__download { position: absolute; right: 0; bottom: 0; transform: translate(50%, 50%);  width: 4rem; height: 4rem; background-color: var(--color-primary); border-radius: 50em; }
.card__box .card__btn__download img { width: 1.125rem;}

/* mini modal (수정예정)*/
.modal__wrap { position: relative; padding: 1.875rem; width: 100%; max-width: 22.5rem; text-align: center; border:1px solid #DEE2E6; border-radius: 0.938rem; background-color: var(--color-light); }
.modal__wrap h6 { padding: 0.25rem 0 0.5rem; }
.modal__wrap .form__wrap { padding: 0.25rem 0 0; }
.modal__wrap .modal__btn__close { display: flex; align-items: center; justify-content: center; position: absolute; top: 1rem; right: 1rem; padding: 0.25rem 0; width: 1.5rem; height: 1.5rem; background-color: var(--color-gray4); border-radius: 50em; }
.modal__wrap .modal__btn__close img { width: auto; }
.modal__wrap .form__wrap .btn__gradient__lg { margin-top: 0.188rem; }

.modal__wrap .text__desc { color: var(--color-gray2); }
.modal__wrap .btn__share { margin: 1.5rem 0 0; gap: 2rem; }
.modal__wrap .btn__share button { flex-direction: column; font-size: var(--font-size-s); }
.modal__wrap .btn__share img { width: 2.625rem; margin: 0 0 0.625rem;}






