:root {
  --primary-color: #6d6afe;
  --red-color: #ff5b56;
  --black-color: #111322;
  --white-color: #ffffff;
  --grey1-color: #3e3e43;
  --grey2-color: #9fa6b2;
  --grey3-color: #ccd5e3;
  --grey4-color: #e7effb;
  --grey5-color: #f0f6ff;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: Pretendard;
}

main {
  width: 100vw;
  padding: 238px 0 117px 0;
  background: var(--Linkbrary-bg, #f0f6ff);
  height: 100vh;
}

.login_title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login_title img {
  width: 210.583px;
  height: 38px;
}

.login_title div:nth-of-type(2) {
  width: 230px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.login_title div:nth-of-type(2) h1 {
  color: var(--black-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.login_title div:nth-of-type(2) a {
  color: var(--primary-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.form_section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.email_div {
  width: 100%;
  margin-top: 30px;
}

label {
  color: var(--black, #000);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

input {
  display: flex;
  width: 400px;
  padding: 18px 15px;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
  border-radius: 8px;
  border: 1px solid var(--Linkbrary-gray20, #ccd5e3);
  background: var(--Linkbrary-white, #fff);
}

.password_div,
.password_chk_div {
  width: 100%;
  margin-top: 24px;
}

main p {
  color: var(--Linkbrary-red, #ff5b56);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 6px;
}

main button {
  display: flex;
  width: 400px;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: var(
    --gra-purpleblue-to-skyblue,
    linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%)
  );
  border: none;
  margin-top: 30px;
  color: var(--white-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.another_signup {
  display: flex;
  width: 400px;
  padding: 12px 24px;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--Linkbrary-gray20, #ccd5e3);
  background: var(--Linkbrary-gray10, #e7effb);
  margin-top: 32px;
}

.another_signup a {
  color: var(--Linkbrary-gray100, #373740);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.password_div_input_div {
  position: relative;
}

.password_div_input_div img {
  position: absolute;
  top: 21px;
  left: 360px;
}

.form_section input:focus {
  border: 3px solid var(--primary-color);
}
