:root{
  --Linkbrary-bg: #F0F6FF;
  --Linkbrary-primary-color: #6D6AFE;
  --Linkbrary-gray10: #E7EFFB;
  --Linkbrary-gray20: #CCD5E3;
  --Linkbrary-white: #FFF;
  --gra-purpleblue-to-skyblue: linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%);
}

*{
  box-sizing: border-box;
}

body{
  background: var(--Linkbrary-bg, #F0F6FF);
}

.sign-up-layout{
  position: absolute;
  top: 10%;
  right: 15%;
  left: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.sign-up__gap{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.sign-up-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.sign-up-header__iogin-massage{
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--black, #000);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

#login-btn{
  color: var(--Linkbrary-primary-color, #6D6AFE);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.sign-up-form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

.sign-up-form__group{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.sign-up-form__input-group{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.sign-up-form__input-group label{
  color: var(--black, #000);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.sign-up-form__input-group input{
  display: flex;
  width: 400px;
  padding: 18px 15px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--Linkbrary-gray20, #CCD5E3);
  background: var(--Linkbrary-white, #FFF);
}

.sign-up-form__input-group input:hover{
  border-radius: 8px;
  border: 1px solid var(--Linkbrary-primary-color, #6D6AFE);
  background: var(--Linkbrary-white, #FFF);
}

.sign-up-form__password-input{
  position: relative;
}

.signin-form__password-icon{
  position: absolute;
  top: 18px;
  right: 15px;
  bottom: 18px;
}

#sign-up-btn{
  display: flex;
  width: 400px;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  gap: 30px;
  border-radius: 8px;
  background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%));
  border-style: none;
  color: var(--Grey-Light, #F5F5F5);
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.other-sign-up{
  display: flex;
  width: 400px;
  padding: 12px 24px;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--Linkbrary-gray20, #CCD5E3);
  background: var(--Linkbrary-gray10, #E7EFFB);
}

.social-sign-up__icons{
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.social-sign-up__icon{
  position: relative;
}

.social-sign-up__background{
  width: 42px;
  height: 42px;
  flex-shrink: 0;
}

#gooole-icon{
  display: flex;
  width: 22px;
  height: 22px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  position: absolute;
  inset: 10px;
}

#kakao-icon{
  width: 26px;
  height: 24px;
  flex-shrink: 0;
  position: absolute;
  inset: 10px 8px 8px 8px;
}