/* palette에 있는 color값들을 css 변수로 등록하고 사용해 주세요. */
:root {
    --Linkbrary-primary-color: #6D6AFE;
    --Linkbrary-red: #FF5B56;
    --The-julge-black: #111322;
    --Linkbrary-white: #FFF;
    --Linkbrary-gray100: #373740;
    --Linkbrary-gray60: #9FA6B2;
    --Linkbrary-gray20: #CCD5E3;
    --Linkbrary-gray10: #E7EFFB;
    --Grey-Light: #F5F5F5;
    --Linkbrary-bg: #F0F6FF;
}

html {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pretendard';
}

/* 버튼 */
.primary-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem; /* 10px; */
    padding: 1rem 1.25rem; /* 16px 20px; */
    border-radius: 0.5rem; /* 8px; */
    background: linear-gradient(91deg, var(--Linkbrary-primary-color) 0.12%, #6AE3FE 101.84%);
    border: none;
    color: var(--Grey-Light);
    font-size: 1.125rem; /* 18px; */
    font-weight: 600;
    cursor: pointer;
}

.primary-btn.sm {
    width: 8rem; /* 128px; */
}

.primary-btn.md {
    width: 21.875rem; /* 350px; */
}

.primary-btn.lg {
    width: 25rem; /* 400px; */
}

.cursor-point {
    cursor: pointer;
}

object{
    pointer-events: none;
}

a {
    cursor: pointer;
    text-decoration: none;
}
