/* 상단 gnb */
header {
    position: sticky;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 1.25rem 12.5rem; /* 20px 200px; */
    z-index: 999;
    background-color: var(--Linkbrary-bg);
}

/* 본문 */
.content-01 {
    display: flex;
    /* width: 1920px; */
    padding: 4.375rem 22.5rem 0rem 22.5rem; /* 70px 360px 0px 360px; */
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 2.5rem; /* 40px; */
    background-color: var(--Linkbrary-bg);
}

.content-01 h1 {
    color: #000;
    text-align: center;
    font-size: 4rem; /* 64px; */
    font-weight: 700;
    line-height: 5rem; /* 80px;  */ /* 125% */
    white-space: nowrap;
}

.content-01 h1 span {
    background: linear-gradient(91deg, var(--Linkbrary-primary-color) 17.28%, #FF9F9F 74.98%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.content-01 .wrap-img {
    width: 75rem; /* 1200px; */
    height: 36.875rem; /* 590px; */
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.content-01 .wrap-img .link-search-img {
    width: 69.875rem; /* 1118px; */
    height: 44.1875rem; /* 707px; */
    flex-shrink: 0;
    border-radius: 1.5625rem; /* 25px; */
    box-shadow: 0rem 0.25rem 1.5625rem 0rem rgba(0, 0, 0, 0.08); /* 0px 4px 25px 0px rgba(0, 0, 0, 0.08); */
    margin-top: 3.125rem; /* 50px; */
}

.content-01 .dim {
    position: absolute;
    width: 69.875rem; /* 1118px; */
    height: 41.1875rem; /* 659px; */
    bottom: -7.4375rem; /* -119px; */
    border-radius: 1.5625rem; /* 25px; */
    background: linear-gradient(180deg, rgba(196, 196, 196, 0.00) 67.68%, #F0F6FF 94.76%);
    box-shadow: 0rem 0.25rem 1.5625rem 0rem rgba(0, 0, 0, 0.08); /* 0px 4px 25px 0px rgba(0, 0, 0, 0.08); */
}

.contents:not(.content-01) {
    display: flex;
    padding: 3.125rem 28.8125rem; /* 50px 461px; */
    justify-content: center;
    align-items: center;
    gap: 9.8125rem; /* 157px; */
}

.contents:not(.content-01) h1 {
    font-size: 3rem; /* 48px; */
    font-weight: 700;
    letter-spacing: -0.3px;
    color: #000;
}

.contents:not(.content-01) p {
    color: #6B6B6B;
    font-size: 1rem; /* 16px; */
    font-weight: 400;
    line-height: 150%; /* 24px */
    word-break: keep-all;
}

.contents.content-02 {
    padding-top: 7.5rem; /* 120px; */
}

.contents .content-txt {
    display: flex;
    width: 18.1875rem; /* 291px; */
    flex-direction: column;
    align-items: flex-start;
    gap: 0.625rem; /* 10px; */
    flex-shrink: 0;
}

.content-02 .txt-gradient {
    background: linear-gradient(96deg, #FE8A8A 1.72%, #A4CEFF 74.97%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.content-bg {
    width: 34.375rem; /* 550px; */
    height: 28.125rem; /* 450px; */
    border-radius: 0.9375rem; /* 15px; */
    background: var(--Linkbrary-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-shrink: 0;
}

.content-02-right .card{
    width: 17.4375rem; /* 279px; */
    height: 17.1875rem; /* 275px; */
}

.content-02-right .card2 {
    position: relative;
}

.content-02-right .frame{
    width: 15.25rem; /* 244px; */
    height: 15.0625rem; /* 241px; */
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content-02-right .download-icon{
    position: absolute;
    right: 0;
    bottom: 0;
}

.contnet-03-left {
    padding: 7.125rem 4.25rem 4.125rem 4.25rem; /* 114px 68px 66px 68px; */
}

.content-03 .txt-gradient {
    background: linear-gradient(277deg, #6FBAFF 59.22%, #FFD88B 93.66%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.content-04 .txt-gradient {
    background: linear-gradient(99deg, #6D7CCD 19.76%, rgba(82, 136, 133, 0.22) 52.69%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.content-04-right {
    width: 35.625rem; /* 570px; */
    height: 29.3125rem; /* 469px; */
    background-image: url(../images/landing/content-01.png);
    background-size: 160%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 1.5625rem; /* 25px; */
    position: relative;
}

.content-04-right .dim {
    width: 35.625rem; /* 570px; */
    height: 29.3125rem; /* 469px; */
    flex-shrink: 0;
    border-radius: 25px;
    background: rgba(0, 0, 0, 0.40);
    box-shadow: 0rem 0.25rem 1.5625rem 0rem rgba(0, 0, 0, 0.08); /* 0px 4px 25px 0px rgba(0, 0, 0, 0.08); */
}

.content-04-right .popup {
    position: absolute;
    top: 7rem; /* 112px; */
    left: 4.8125rem; /* 77px; */
}

.content-05-left {
    position: relative;
}

.content-05-left img {
    position: absolute;
    top: 3.4375rem; /* 55px; */
    left: 3.75rem; /* 60px; */
    width: 38.6875rem; /* 619px; */
    height: 36.5rem; /* 584px; */
    border-radius: 0.9375rem; /* 15px; */
}

.content-05-left .dim {
    position: absolute;
    top: 3.4375rem; /* 55px; */
    left: 3.75rem; /* 60px; */
    width: 38.6875rem; /* 619px; */
    height: 36.5rem; /* 584px; */
    border-radius: 0.9375rem; /* 15px; */
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 55%, #000 250%);
    box-shadow: 0rem 0.25rem 1.5625rem 0rem rgba(0, 0, 0, 0.08); /* 0px 4px 25px 0px rgba(0, 0, 0, 0.08); */
}

.content-05 .txt-gradient {
    background: linear-gradient(271deg, #FE578F -9.84%, #68E8F9 107.18%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* footer */
footer {
    display: flex;
    height: 17.5rem; /* 280px; */
    padding-top: 7.5rem; /* 120px; */
    flex-direction: column;
    align-items: center;
    align-self: stretch;
}

.wrap-footer {
    display: flex;
    height: 10rem; /* 160px; */
    padding: 2rem 6.5rem 4rem 6.5rem; /* 32px 104px 64px 104px; */
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    align-self: stretch;
    background: var(--The-julge-black);
}

.inner-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    font-size: 1rem; /* 16px; */
    font-weight: 400;
}

.inner-footer-left {
    color: #676767;
}

.inner-footer-center {
    display: flex;
    width: 11.375rem; /* 182px; */
    align-items: flex-start;
    gap: 1.875rem; /* 30px; */
}

.inner-footer-center a{
    color: #CFCFCF;
}

.inner-footer-right {
    display: flex;
    gap: 0.75rem; /* 12px; */
}
