body {
    background: var(--Linkbrary-bg);
    padding: 238px 0px 253px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
}

body.signup {
    padding-bottom: 117px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

header object, header img {
    width: 210.583px;
    height: 38px;
}

header p {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

header p a {
    color: var(--Linkbrary-primary-color);
    font-weight: 600;
    text-decoration: underline;
    line-height: normal;
}

main {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.input-txt {
    width: 400px;
    padding: 18px 15px;
    border-radius: 8px;
    border: 1px solid var(--Linkbrary-gray20);
    background: var(--Linkbrary-white);
}

.input-txt:focus {
    border: 1px solid var(--Linkbrary-primary-color);
    outline: none;
}

.input-txt.wrong {
    border: 1px solid var(--Linkbrary-red);
}

.wrap-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    position: relative;
}

.wrap-input p {
    color: #000;
    font-size: 14px;
}

.eye-off {
    position: absolute;
    bottom: 18px;
    right: 15px;
}

footer {
    margin-top: 32px;
    display: flex;
    width: 400px;
    padding: 12px 24px;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    border: 1px solid var(--Linkbrary-gray20);
    background: var(--Linkbrary-gray10);
}

footer p {
    color: var(--Linkbrary-gray100, #373740);
    font-size: 14px;
}

.wrap-icon {
    display: flex;
    align-items: center;
    gap: 16px;
}

.social-login-icon {
    width: 42px;
    height: 42px;
}

.social-login-icon.google {
    background: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.txt-wrong {
    color: var(--Linkbrary-red);
    font-size: 14px;
    margin-top: -14px;
}