@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
@import url("https://fonts.googleapis.com/css2?family=Abel&family=Noto+Sans+KR:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&family=Inter:wght@100..900&family=Noto+Sans+KR:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --primary-color: #6d6afe;
  --skyblue-color: #6ae3fe;
  --red-color: #ff5b56;
  --black-color: #111322;
  --white-color: #fff;

  --d5-gray-color: #3e3e43;
  --d4-gray-color: #9fa6b2;
  --d3-gray-color: #ccd5e3;
  --d2-gray-color: #e7effb;
  --d1-gray-color: #f0f6ff;

  --grey-light-color: #f5f5f5;
  --grey-dark-color: #666;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration-line: none;
  text-decoration: none;
  color: inherit;
}

body {
  font-family: Pretendard;
  background-color: var(--d1-gray-color);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 600px;
}

button {
  border: none;
  padding: 4px 8px;
  border-radius: 5px;
  background-color: var(--white-color);
  font-weight: 600;
  font-size: 1em;
}

button:hover {
  cursor: pointer;
  filter: brightness(1.2);
  scale: 1.02;
}

footer {
  margin: 0;
  padding: 0;
  background-color: var(--black-color);
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  color: transparent;
}

h3 {
  color: #000;
  font-size: 3em;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.3px;
  margin: 0;
}

h4,
h5 {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  max-width: 1920px;
  position: sticky;
  top: 0;
  display: flex;
  padding: 20px 5%;
  justify-content: space-between;
  align-items: center;
  background-color: inherit;
  z-index: 2;
}

img {
  display: block;
}

input {
  outline: none;
}

main {
  height: 100%;
  padding: 70px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  flex: 1;
  justify-content: center;
}

p {
  margin: 0;
}

section {
  margin-top: 0;
  max-width: 1920px;
  width: 100%;
  padding: 50px 461px;
  background-color: var(--white-color);

  display: flex;
  flex-direction: column;
  align-items: center;
}

/*====================================          CLASS           ==================================*/

.add-favorite {
  background-color: transparent;
  position: absolute;
  top: 5%;
  right: 5%;
  width: 20%;
  height: auto;
}

.add-favorite img {
  width: 100%;
}

.add-favorite:hover .normal-star {
  display: none;
}

.add-favorite:hover .purple-star {
  display: inline-block;
}

.btn {
  background-image: linear-gradient(
    to right,
    var(--primary-color),
    var(--skyblue-color)
  );
  padding: 0;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.125em;
  font-weight: 600;
  color: var(--Grey-Light, #f5f5f5);
  font-style: normal;
  line-height: normal;
}

.btn a {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 1em;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.btn-link {
  text-decoration-line: none;
  color: var(--white-color);
}

.card {
  position: relative;
  width: 100%;
  aspect-ratio: 340/334;
  flex-shrink: 0;
  border-radius: 15px;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  overflow: visible;
}

.card:hover {
  scale: 1.1;
}

.card-info {
  width: 100%;
  height: 40%;
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
  padding: 8px 16px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  gap: 4px;
}
.card-info-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.card-info-date {
  color: #333;

  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.625em;
  line-height: normal;
}

.card-info-text {
  display: -webkit-box;
  overflow: hidden;
  color: #000;
  margin-top: -0.3125em;
  -webkit-line-clamp: 2; /* Number of lines to show */
  -webkit-box-orient: vertical;
  font-size: 1em;
  line-height: 1.25em;
}
.card-info-time {
  color: var(--grey-dark-color);
  font-size: 0.625em;
  line-height: normal;
}

.card-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: fit-content;
  gap: 1.125em;
}

.card-selected {
  border: 3px solid var(--primary-color);
}

.copyright {
  color: #676767;

  text-align: center;
  font-family: Abel;
  font-size: 1em;
  line-height: normal;
}

.container {
  background-color: var(--white-color);
  display: flex;
  width: 998px;
  height: 450px;
  gap: 157px;
}

.description {
  color: #6b6b6b;
  margin-right: 0.625em;
  font-family: Abel;
  font-size: 1em;
  line-height: 150%; /* 24px */
}

.eye-btn {
  background-color: inherit;
  position: absolute;
  right: 10px;
  top: 15px;
}

.eye-btn:hover .eye-on {
  filter: brightness(0);
}

.eye-on path {
  background-color: transparent;
}

.folder-add {
  color: var(--primary-color);
}

.folder-btn {
  width: 100%;
}

.folder-input {
  display: flex;
  width: 280px;
  padding: 18px 15px;
  justify-content: center;
  align-items: center;

  border-radius: 8px;
  border: 1px solid var(--Linkbrary-gray20, #ccd5e3);
  background: var(--white-color);
}

.folder-input::placeholder {
  color: var(--d4-gray-color);
  font-size: 1em;
  line-height: 1.5em;
}

.folder-change {
  background-color: var(--white-color);
  border-radius: 15px;
  border: 1px solid var(--d3-gray-color);
  display: inline-flex;
  padding: 35px 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.08);
  z-index: 1;
}

.folder-name {
  color: var(--d4-gray-color);
  text-align: center;
  font-size: 0.875em;
  font-style: normal;
  font-weight: 400;
  line-height: 1.375em; /* 157.143% */
}

.folder-share {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 280px;
}

.folder-share-link {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.footer-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1920px;
  width: 100%;
  padding: 32px 104px 64px;
}

.gradient1 {
  background: linear-gradient(91deg, #6d6afe 17.28%, #ff9f9f 74.98%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient2 {
  background: linear-gradient(96deg, #fe8a8a 1.72%, #a4ceff 74.97%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient3 {
  background: linear-gradient(277deg, #6fbaff 19.22%, #ffd88b 93.66%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient4 {
  background: linear-gradient(
    99deg,
    #6d7ccd 69.76%,
    rgba(82, 136, 133, 0.22) 99.69%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient5 {
  background: var(
    --Fandom-K-gra-blue-to-pink,
    linear-gradient(271deg, #fe578f -9.84%, #68e8f9 107.18%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.img-border {
  border: 2px solid var(--d3-gray-color);
  border-radius: 50%;
}

.incorrect-password {
  color: var(--red-color);
  margin-top: 6px;
}

.info-link-bar ul {
  list-style: none;
  display: flex;
  gap: 12px;
}

.input-label {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.join {
  display: flex;
  gap: 8px;
}

.kebab {
  width: 12px;
  aspect-ratio: 12/10;
}

.link-list {
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
  gap: 20px;
}

.link-list-bar {
  display: flex;
  justify-content: space-between;
}

.link-cards {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.login {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 38px;
}

.login-btn {
  width: 100%;
  position: relative;
  top: 6px;
  height: 54px;
  font-size: 18px;
}

.logo {
  width: 150px;
  height: 24px;
}

.no-shrink-card {
  width: 244px;
  flex-shrink: 0;
}

.op-font {
  color: #373740;
  font-size: 1.25em;

  font-weight: 700;
  line-height: normal;
}

.other-id {
  background-color: var(--d2-gray-color);
  display: flex;
  padding: 12px 24px;
  justify-content: space-between;
  align-items: center;

  border-radius: 8px;
  border: 1px solid var(--Linkbrary-gray20, #ccd5e3);
  background: var(--Linkbrary-gray10, #e7effb);
}

.policy-bar {
  display: flex;
  gap: 30px;
  color: #cfcfcf;

  font-family: Abel;
  font-size: 1em;
}

.purple-star {
  display: none;
}

.pw-input {
  position: relative;
}

.save-icon {
  background-color: transparent;
  position: absolute;
  bottom: -23px;
  right: -23px;
  z-index: 1;
}

.search-bar {
  background-color: var(--grey-light-color);
  border-radius: 10px;
  padding: 15px 16px;
}

.search-box {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 55px;
  left: 60px;
  border-radius: 15px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 48.72%,
    #000 128.17%
  );
  background-color: var(--white-color);
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.08);
  width: 619px;
  height: 584px;
  flex-shrink: 0;

  padding: 60px 40px;
  gap: 30px;
}

.search-input {
  width: 100%;
  background-image: url(img/Search.svg);
  background-repeat: no-repeat;
  background-position: left center;

  font-size: 1em;
  background-color: inherit;
  padding: 0 32px;
  color: var(--grey-dark-color);
  border: none;
}

.search-result {
  font-size: 2em;
  margin-bottom: 10px;
}

.select-all-btn {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.select-favorite-btn {
  border: 1px solid var(--primary-color);
}

.select-folder-btn {
  border: 1px solid var(--primary-color);
}

.sign {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.sign-input {
  display: flex;
  width: 400px;
  padding: 18px 15px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--Linkbrary-gray20, #ccd5e3);
  background: var(--Linkbrary-white, #fff);
}

.sign-input:focus {
  border: 1px solid var(--skyblue-color);
}

.sign-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 14px;
  margin: 0;
  padding: 0;
  width: 400px;
  align-items: center;
}

.sign-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  font-size: 16px;
}

.sign-logo {
  width: 210px;
  height: 38px;
}

.sign-link {
  font-weight: 600;
  color: var(--primary-color);
  text-decoration-line: underline;
}

.share-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  filter: brightness(0.5);
  z-index: 0;
}

.share-link-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.share-link-btn a img {
  border-radius: 50%;
}

.share-link-btn a img:hover {
  box-shadow: 0 0 10px var(--skyblue-color);
}

.share-link-logo {
  width: 42px;
  aspect-ratio: 1/1;
}

.share-link-name {
  color: #444;
  text-align: center;
  font-family: Inter;
  font-size: 0.8125em;
  font-style: normal;
  font-weight: 600;
  line-height: 15px; /* 115.385% */
}

.small-card {
  width: 100px !important;
}

.small-side {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0;
  padding: 0;
}

.social-links {
  display: flex;
  gap: 16px;
}

.svg-change {
  transition: fill 0.3s ease; /* Add a smooth transition effect */
}

.svg-change:hover {
  fill: var(--primary-color);
}

.thumbnail {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  flex-grow: 1;
}

.thumbnail img {
  border-radius: inherit;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.top-heading {
  color: #000;
  font-size: 4em;
  font-style: normal;
  font-weight: 700;
  line-height: 80px;

  width: 708px;
  height: 160px !important;
  text-align: center;

  padding: 0;
  margin: 0px;
}

.wide-side {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-shrink: 0;
  background-color: var(--d1-gray-color);
  width: 550px;
  height: 100%;
  border-radius: 15px;
}

.yellow-star {
  color: rgb(249, 249, 78);
}

/*====================================           ID          ==================================*/

#link-add {
  margin-top: 40px;
  width: 350px;
}

#content1 {
  padding: 20px 10%;
  margin: 0 auto;
  width: 1118px;
  height: 659px;
  border-radius: 25px;
  border-radius: 25px;
  background: var(--white-color);
  z-index: -1;
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#content2 {
  display: flex;
  margin: 0;
  padding: 0;
}

#login {
  width: 128px;
}

#s1 {
  background-color: inherit;
  padding: 50px 0px;
  background-image: url("img/_dim.png");
  background-repeat: no-repeat;
  background-position: top center;
  max-width: 1920px;
  width: 100vw;
  height: 953px;
  overflow: hidden;
}

#s2 {
  background-color: var(--white-color);
  max-width: 1920px;
  margin: -400px 0 0;
  padding: 120px 0px 50px;
  gap: 100px;
  flex: 1;
  height: 9000px;
}

#search-link {
  width: 100%;

  background-image: url(img/Search.svg);
  background-repeat: no-repeat;
  background-position: left center;

  font-size: 1em;
  background-color: inherit;
  padding: 0 32px;
  color: var(--grey-dark-color);

  border: none;
}

@media (max-width: 1118px) {
  body {
    font-size: 12px;
  }

  section {
    min-width: 800px;
    width: 100%;
  }

  #content1 {
    width: 100%;
    min-width: 800px;
  }

  .container {
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
    gap: 60px;
  }

  .small-side {
    order: 1;
    align-items: center;
    justify-content: center;
  }
  .small-side div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .wide-side {
    height: 450px;
    order: 2;
  }

  #s2 {
  }
}
