*{
	box-sizing: border-box;
}

.footer {
	width: 100%;
	height: 280px;
	padding-top: 120px;
}

.footer-frame {
	width: 100%;
	max-width: 1920px;
	height: 160px;
	background-color: #111322;
	padding: 32px 104px 64px 104px;
}

.footer-components {
	height: 20px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
    gap: 30px 60px;
	font-family: 'Acme';
	font-size: 16px;
	font-weight: 400;
}

.footer-codeit {
	height: 20px;
	color: #676767;
}

.footer-linkbox {
	display: flex;
	height: 20;
	gap: 30px;
}

.footer-policy{
	color: #cfcfcf;
	text-decoration-line: none;
	cursor: pointer;
}
.footer-FAQ{
	color: #cfcfcf;
	text-decoration-line: none;
	cursor: pointer;
}

.footer-Icons {
	display: flex;
	gap: 12px;
}

.footer-icon{
	width:20px;
	cursor: pointer;
}

@media(max-width: 767px){
	.footer{
		height: 200px;
		padding-top: 40px;
	}
	.footer-frame{
		padding: 32px 32px 32px 32px;
	}
	.footer-components {
		height: 96px;
		position: relative;
		font-family: 'Acme';
		font-size: 16px;
		font-weight: 400;
	}
	.footer-linkbox {
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		height: 20;
		gap: 30px;
	}
	.footer-codeit {
		position: absolute;
		bottom: 0;
		left: 0;
	}
	.footer-Icons{
		position: absolute;
		top: 0;
		right: 0;
	}
}