/* 버튼 설정 */
button {
	cursor: pointer;
}

/* End of: 버튼 설정 */

/* End of: 단락 간 간격 없애기 */

/* 텍스트 색상 설정 */
.colored-text-1 {
	background-image: linear-gradient(90deg, #6d6afe, #ff9f9f);
	color: transparent;
	-webkit-background-clip: text;
}

.colored-text-2 {
	background-image: linear-gradient(90deg, #fe8a8a, #a4ceff);
	color: transparent;
	-webkit-background-clip: text;
}

.colored-text-3 {
	background-image: linear-gradient(90deg, #ffd88b, #6fbaff);
	color: transparent;
	-webkit-background-clip: text;
}

.colored-text-4 {
	background-image: linear-gradient(90deg, #6d7ccd 20%, rgba(82, 136, 133, 0.22));
	color: transparent;
	-webkit-background-clip: text;
}

.colored-text-5 {
	background-image: linear-gradient(270deg, rgba(254, 87, 143, 0.3), rgba(104, 232, 249, 1));
	color: transparent;
	-webkit-background-clip: text;
}

/* End of: 텍스트 색상 설정 */

/* Section 정의 */
.landing-1 {
	position: relative;
	margin: 0;
	background-color: #f0f6ff;
	width: 100%;
	height: 953px;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
	justify-content: space-between;
	padding-top: 70px;
}

.landing-2 {
	position: relative;
	margin: 0;
	width: 100%;
	height: 620px;
	display: flex;
	justify-content: center;
}

.landing-3 {
	position: relative;
	margin: 0;
	width: 100%;
	height: 550px;
	display: flex;
	justify-content: center;
}

/* End of: Section 정의 */

/* Section 별 컨텐츠 영역 정의 */
.landing-contents {
	max-width: 998px;
	width: 100%;
	height: 450px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.landing-2>.landing-contents {
	top: 120px;
}

.landing-3>.landing-contents {
	top: 50px;
}

/* End of: Section 별 컨텐츠 영역 정의 */

/* 링크 추가하기 버튼 설정 */
.landing-1-btn {
	max-width: 350px;
	width: 100%;
	height: 53px;
	border-radius: 8px;
	border-style: none;
	background-image: linear-gradient(90deg, #6d6afe, #6ae3fe);
	display: flex;
	align-items: center;
	justify-content: center;
}

.landing-1-btn>.label {
	color: #f5f5f5;
	font-family: 'Pretendard';
	font-size: 18px;
	font-weight: 600;
}

/* End of: 링크 추가하기 버튼 설정 */

/* Section 별 텍스트 영역 정의 */
.landing-1-txt {
	line-height: 80px;
	font-size: 64px;
	text-align: center;
	font-weight: 700;
	font-family: 'Pretendard';
	padding: 0;
	letter-spacing: -5px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.landing-text {
	width: 291px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
}

.landing-2 .landing-text {
	height: 198px;
}

.landing-3 .txt_size1 {
	height: 172px;
}

.landing-3 .txt_size2 {
	height: 198px;
}

.landing-3 .txt_size3 {
	height: 148px;
}

/* End of: Section 별 텍스트 영역 정의 */

/* text 영역 내 텍스트 세부 설정 */
.landing-1-txt>* {
	margin: 0;
}

.landing-1-txt>.first-line {
	margin: 0;
}

.landing-1-txt>.second-line {
	margin: 0;
}

.landing-text>.txt1 {
	width: 280px;
	font-size: 48px;
	font-weight: 700;
	font-family: 'Pretendard';
	line-height: 57px;
	text-align: left;
	letter-spacing: -4px;
	word-spacing: -4px;
	height: 116px;
}

.landing-text>.txt2 {
	width: 300px;
	font-size: 16px;
	text-align: left;
	font-weight: 400;
	font-family: 'Abel';
	line-height: 24px;
	color: #6B6B6B;
	letter-spacing: -1px;

}

/* 텍스트 미세조정 */
.enter-pc {
	display: block;
}
.enter-tablet {
	display: inline;
}
.enter-mobile {
	display: inline;
}
/* End of: 텍스트 미세조정 */

/* End of: text 영역 내 텍스트 세부 설정 */

/* 이미지 설정 */
.landing-1-img {
	max-width: 1200px;
	width: 100%;
	height: 590px;
	padding-top: 50px;
	padding-left: 41px;
	padding-right: 41px;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
}
.landing-1-img>img {
	max-width: 1118px;
	width: 100%;
	height: 590px;
}
.landing-img {
	max-width: 550px;
	width: 100%;
	height: 450px;
}
.landing-img>img {
	width: 100%;
	height: 450px;
}

/* End of: 이미지 설정 */

/* Tablet용 페이지 크기 설정 */
@media(max-width: 1199px) {

	/* Resize Section */
	.landing-1 {
		height: 756px;
		padding-top: 40px;
	}
	.landing-2 {
		height: 445px;
	}
	.landing-3 {
		height: 415px;
	}
	/* End of: Resize Section */

	/* Resize contents frame and text */
	.landing-contents {
		width: 700px;
		height: 315px;
	}
	.landing-2>.landing-contents {
		top: 80px;
	}
	.landing-1-txt>.second-line {
		margin: 0;
		width: 380px;
	}
	/* End of: Resize text */

	/* Resize image */
	.landing-1-img {
		max-width: 700px;
		width: 100%;
		height: 343px;
		padding-top: 29px;
		padding-left: 23.8px;
		padding-right: 23.8px;
	}

	.landing-1-img>img {
		max-width: 650px;
		width: 100%;
		height: 343px;
	}

	.landing-img {
		width: 385px;
		height: 315px;
	}

	.landing-img>img {
		width: 100%;
		height: 315px;
	}
	/* End of: Resize image */

	/* 텍스트 미세조정 */
	.enter-pc {
		display: inline;
	}
	.enter-tablet {
		display: block;
	}
	.enter-mobile {
		display: inline;
	}
	/* End of: 텍스트 미세조정 */

}

/* mobile 페이지 설정 */
@media(max-width: 767px) {
    
	/* Section 재설정 */
	.landing-1 {
		height: 399px;
		padding-top: 28px;
	}
	.landing-2 {
		height: 451px;
	}
	.landing-3 {
		height: 457px;
	}
	/* End of: Section 재설정 */

	/* 바로가기 버튼 재설정 */
	.landing-1-btn {
		max-width: 200px;
		width: 100%;
		height: 37px;
	}
	.landing-1-btn>.label {
		font-size: 14px;
	}
	/* End of: 바로가기 버튼 재설정 */

	/* 컨텐츠 영역 재설정 */
	.landing-2>.landing-contents {
		top: 80px;
	}
	.landing-contents {
		width: 325px;
		height: 375px;
		flex-direction: column;
	}
	.landing-2>.landing-contents {
		top: 40px;
	}
	.landing-3>.landing-contents {
		top: 40px;
	}
	.landing-contents.arrange-4-mobile {
		flex-direction: column-reverse;
	}
	/* End of: 컨텐츠 영역 재설정 */

    /* 텍스트 설정 */
	.landing-1-txt {
		width: 250px;
		height: 126px;
		line-height: 42px;
		font-size: 32px;
		padding: 0;
		letter-spacing: -3px;
	}
	.landing-1-txt>.second-line {
		width: 210px;
	}
	.landing-text {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
	}
	.landing-2 .landing-text {
		height: 85px;
	}
	.landing-3 .txt_size1 {
		height: 85px;
	}
	.landing-3 .txt_size2 {
		height: 85px;
	}
	.landing-3 .txt_size3 {
		height: 62px;
	}
	.landing-text>.txt1 {
		width: 100%;
		font-size: 24px;
		line-height: 28.6px;
		letter-spacing: -3px;
		word-spacing: 0;
		height: 29px;
	}
	.landing-text>.txt2 {
		width: 100%;
		font-size: 15px;
		line-height: 22.5px;
		font-weight: 520;
		font-family: 'Pretendard';
		letter-spacing: -1.5px;
		word-spacing: -1.5px;

	}
	/* End of: 텍스트 설정 */

    /* 텍스트 미세조정 */
	.enter-pc {
		display: inline;
	}
	.enter-tablet {
		display: inline;
	}
	.enter-mobile {
		display: block;
	}
	/* End of: 텍스트 미세조정 */

	/* 이미지 설정 */
	.landing-1-img {
		max-width: 325px;
		width: 100%;
		height: 160px;
		padding-top: 13.5px;
		padding-left: 11px;
		padding-right: 11px;
	}
	.landing-1-img>img {
		max-width: 302px;
		width: 100%;
		height: 178.7px;
	}
	.landing-img {
		max-width: 325px;
		width: 100%;
		height: 265px;
	}
	.landing-img>img {
		width: 100%;
		height: 265px;
	}
	/* End of: 이미지 설정 */
}