
button{
	cursor: pointer;
}

.landing-pc-1 {
	position: relative;
	margin: 0;
	background-color: #f0f6ff;
	width: 100%;
	height: 953px;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
}

.landing-pc-1-txt {
	position: absolute;
	top: 70px;
	line-height: 80px;
	font-size: min(7vw, 64px);
	text-align: center;
	font-weight: 700;
	font-family: 'Pretendard';
}

.colored-text-1 {
	background-image: linear-gradient(90deg, #6d6afe, #ff9f9f);
	color: transparent;
	-webkit-background-clip: text;
}

.colored-text-2{
	background-image: linear-gradient(90deg, #fe8a8a, #a4ceff);
	color: transparent;
	-webkit-background-clip: text;
}

.colored-text-3{
	background-image: linear-gradient(90deg, #ffd88b, #6fbaff);
	color: transparent;
	-webkit-background-clip: text;
}

.colored-text-4{
	background-image: linear-gradient(90deg, #6d7ccd 20%, rgba(82, 136, 133, 0.22));
	color: transparent;
	-webkit-background-clip: text;
}

.colored-text-5{
	background-image: linear-gradient(270deg, rgba(254, 87, 143, 0.3), rgba(104, 232, 249, 1));
	color: transparent;
	-webkit-background-clip: text;
}

.landing-pc-1-btn {
	position: absolute;
	top: 270px;
	max-width: 350px;
	width: 100%;
	height: 53px;
	border-radius: 8px;
	border-style: none;

	background-image: linear-gradient(90deg, #6d6afe, #6ae3fe);

	display: flex;
	align-items: center;
	justify-content: center;
}

.landing-pc-1-btn > .label{
	color: #f5f5f5;
	font-family: 'Pretendard';
	font-size: min(5vw, 18px);
	font-weight: 600;
}

.landing-pc-1-img{
	position: absolute;
	top: 363px;
	max-width: 1200px;
	width: 100%;
	height: 590px;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
}

.landing-pc-1-img > img{
	width: 100%;
	height: 590px;
}

.landing-pc-2 {
	position: relative;
	margin: 0;
	width: 100%;
	height: 620px;
	display: flex;
    justify-content: center;
}

.landing-pc-contents{
	max-width: 998px;
	width: 100%;
	height: 450px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.landing-pc-2 > .landing-pc-contents{
	top: 120px;
}
.landing-pc-3 > .landing-pc-contents{
	top: 50px;
}
.landing-pc-text{
	max-width: 291px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
}
.landing-pc-2 .landing-pc-text{
	height: min(21vw, 198px); 

}
.landing-pc-3 .txt_size1{
	height: min(18vw, 172px);
}
.landing-pc-3 .txt_size2{
	height: min(21vw, 198px);
}
.landing-pc-3 .txt_size3{
	height: min(15vw, 148px);
}

.landing-pc-text > .txt1{
	font-size: min(5vw, 48px);
	font-weight: 700;
	font-family: 'Pretendard';
	line-height: min(6vw, 57px);
	text-align:left;
	letter-spacing: -3px;
	word-spacing: 0;
	height: 116px;
}

.landing-pc-text > .txt2{
	font-size: min(2vw, 16px);
	text-align: left;
	font-weight: 400;
	font-family: 'Abel';
	line-height: min(3vw, 24px);
	color: #6B6B6B;
	letter-spacing: -1px;
	
}

.landing-pc-2-img{
	max-width: 550px;
	width: 100%;
	height: 450px;
}

.landing-pc-2-img > img{
	width: 100%;
	height: 450px;
}


.landing-pc-3 {
	position: relative;
	margin: 0;
	width: 100%;
	height: 550px;
	display: flex;
    justify-content: center;
}

.landing-pc-2-contents{
	width: 998px;
	height: 450px;
	position: absolute;
	top: 120px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}


