/* 전역 설정 */
*{
	box-sizing: border-box;
}
/*End of: 전역 설정 */

/* 버튼 설정 */
button{
	cursor: pointer;
}
/* End of: 버튼 설정 */

/* 페이지 전체(배경) 설정 */
.background{
	background-color: #f0f6ff;
	width: 100%;
	height: 982px;
	margin: 0;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}
/* End of: 페이지 전체(배경) 설정 */

/* 페이지 컨텐츠 설정 */
.login-content{
	position: absolute;
	top: 238px;
	max-width: 400px;
	width: 100%;
	height: 491px;
	gap: 32px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.signup-content{
	position: absolute;
	top: 238px;
	max-width: 400px;
	width: 100%;
	height: 627px;
	gap: 32px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
/* End of: 페이지 컨텐츠 설정 */

/* 프레임 설정(페이지 로그인과 소셜 로그인으로 각각을 구성) */
.frame1{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
.login-content > .frame1{
	height: 393px;
}
.signup-content > .frame1{
	height: 529px;
}

.frame2{
	width: 100%;
	height: 66px;
	background-color: #E7EFFB;
	border-radius: 8px;
	border: 1px solid #CCD5E3;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 12px 24px 12px 24px;
}
/* End of: 프레임 설정(페이지 로그인과 소셜 로그인으로 각각을 구성) */

/* frame1 안의 Linkbrary로고와 연결링크 구성 */
.logo-and-link{
	max-width: 218px;
	width: 100%;
	height: 78px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
.logo-and-link > .logo{
	max-width: 210px;
	width: 100%;
	height: 38px;
}
.logo > img{
	max-width: 210px;
	width: 100%;
	height: 38px;
}

.logo-and-link > .link-container{
	max-width: 220px;
	width: 100%;
	height: 24px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
}
.link-container > .non-link{
	max-width: 123px;
	width: 100%;
	height: 24px;
	font-weight: 400;
	font-size: min(3vw, 14px);
	font-family: "Pretendard";
	line-height: 24px;
	letter-spacing: -1px;
}
.link-container > .link{
	max-width: 90px;
	width: 100%;
	height: 19px;
	font-weight: 600;
	font-size: min(3vw, 15px);
	font-family: "Pretendard";
	line-height: 19px;
	color: #6D6AFE;
	letter-spacing: -1.2px;
	word-spacing: -1px;
}
/* End of: frame1 안의 Linkbrary로고와 연결링크 구성 */

/* 사용자 입력 폼 */
.login-content .form{
	max-width: 400px;
	width: 100%;
	height: 202px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.signup-content .form{
	max-width: 400px;
	width: 100%;
	height: 338px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
/* End of 사용자 입력 폼 */

/* 입력 필드 디자인 */
.input-frame{
	max-width: 400px;
	width: 100%;
	height: 89px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
}

.small-text{
	font-weight: 400;
	font-size: min(3vw, 14px);
	font-family: "Pretendard";
}

.input-frame > .small-text{
	line-height: 17px;
}

/* End of 입력 필드 디자인 */

/* 사용자 입력  */
.input-binder{
	width: 100%;
	height: 60px;
	position: relative;
}

.user-input{
	width: 100%;
	height: 60px;
	border-radius: 8px;
	border: 1px solid #CCD5E3;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	padding: 18px 15px 18px 15px;
}

.user-input:focus{
	border-color: #6D6AFE;
	outline:none;
}

.password-visible{
	position: absolute;
    left: 90%;
    top: 40%;
}
/* End of: 사용자 입력 */

/* 제출 버튼 */
.submit-button{
	max-width: 400px;
	width: 100%;
	height: 53px;
	border-radius: 8px;
	border-style: none;
	padding: 16px 20px 16px 20px;
	gap: 10px;
	background-image: linear-gradient(90deg,#6d6afe, #6ae3fe);
	display: flex;
	align-items: center;
	justify-content: center;
}

.submit-button > .label{
	font-size: min(3vw, 18px);
	font-weight: 600;
	color: #f5f5f5;
	font-family: 'Pretendard';
}
/* End of: 제출 버튼 */

/* 소셜로그인 */
.frame2 > .small-text{
	color: #373740;
}

.frame2 > .logos{
	max-width: 100px;
	width: 100%;
	height: 42px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
/* End of: 소셜로그인 */


/* Tablet용 페이지 크기 설정 */
@media(max-width: 1199px){
	.login-content{
		top: 200px;
	}
	
	.signup-content{
		top: 200px;
	}
}

/* mobile용 페이지 크기 설정 */
@media(max-width: 767px){
	.login-content{
		top: 120px;
		width: 325px;
	}
	
	.signup-content{
		top: 120px;
		width: 325px;
	}
}