*{
	box-sizing: border-box;
}

button{
	cursor: pointer;
}

.background{
	background-color: #f0f6ff;
	width: 100%;
	height: 982px;
	margin: 0;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.login-content{
	position: absolute;
	top: 238px;
	max-width: 400px;
	width: 100%;
	height: 491px;
	gap: 32px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.signup-content{
	position: absolute;
	top: 238px;
	max-width: 400px;
	width: 100%;
	height: 627px;
	gap: 32px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.frame1{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.login-content > .frame1{
	height: 393px;
}

.signup-content > .frame1{
	height: 529px;
}

.logo-and-link{
	max-width: 218px;
	width: 100%;
	height: 78px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
.logo-and-link > .logo{
	max-width: 210px;
	width: 100%;
	height: 38px;
}
.logo > img{
	max-width: 210px;
	width: 100%;
	height: 38px;
}


.logo-and-link > .link-container{
	max-width: 220px;
	width: 100%;
	height: 24px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
}
.link-container > .non-link{
	max-width: 123px;
	width: 100%;
	height: 24px;
	font-weight: 400;
	font-size: min(3vw, 14px);
	font-family: "Pretendard";
	line-height: 24px;
	letter-spacing: -1px;
}
.link-container > .link{
	max-width: 90px;
	width: 100%;
	height: 19px;
	font-weight: 600;
	font-size: min(3vw, 15px);
	font-family: "Pretendard";
	line-height: 19px;
	color: #6D6AFE;
	letter-spacing: -1.2px;
	word-spacing: -1px;
}

.login-content .form{
	max-width: 400px;
	width: 100%;
	height: 202px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.signup-content .form{
	max-width: 400px;
	width: 100%;
	height: 338px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.input-frame{
	max-width: 400px;
	width: 100%;
	height: 89px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
}

.small-text{
	font-weight: 400;
	font-size: min(3vw, 14px);
	font-family: "Pretendard";
}

.input-frame > .small-text{
	line-height: 17px;
}

.user-input{
	width: 100%;
	height: 60px;
	border-radius: 8px;
	border: 1px solid #CCD5E3;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	padding: 18px 15px 18px 15px;
}

.user-input:focus{
	border-color: #6D6AFE;
	outline:none;
}

.submit-button{
	max-width: 400px;
	width: 100%;
	height: 53px;
	border-radius: 8px;
	border-style: none;
	padding: 16px 20px 16px 20px;
	gap: 10px;
	background-image: linear-gradient(90deg,#6d6afe, #6ae3fe);
	display: flex;
	align-items: center;
	justify-content: center;
}

.submit-button > .label{
	font-size: min(3vw, 18px);
	font-weight: 600;
	color: #f5f5f5;
	font-family: 'Pretendard';
}

.frame2{
	width: 100%;
	height: 66px;
	background-color: #E7EFFB;
	border-radius: 8px;
	border: 1px solid #CCD5E3;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 12px 24px 12px 24px;
}

.frame2 > .small-text{
	color: #373740;
}

.frame2 > .logos{
	max-width: 100px;
	width: 100%;
	height: 42px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}