*{
	box-sizing: border-box;
}



button{
	cursor: pointer;
}

.nav {
	width: 100%;
	height: 93px;
	padding: 20px 200px 20px 200px;
	background-color: #f0f6ff;
	position: sticky;
	top:0;
	z-index: 1;
}

.nav-container{
	width: 100%;
	max-width: 1520px;
	height: 53px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}


.nav-logo > img{
	max-width: 133px;
	width: 100%;
	height: 24px;
}

.nav-login_button{
	max-width: 128px;
	width: 100%;
	height: 100%;
	border-radius: 8px;
	border-style: none;
	gap: 10px;
	background-image: linear-gradient(90deg,#6d6afe, #6ae3fe);
	
	display: flex;
	align-items: center;
	justify-content: center;
}

.nav-login-label{
	font-size: min(3vw,18px);
	font-weight: 600;
	color: #f5f5f5;
	font-family: 'Pretendard';
}

@media(max-width: 767px){
	.nav{
		height: 63px;
		padding: 13px 32px 13px 32px;
	}
	.nav-container{
		height: 37px;
	}
	.nav-logo > img{
		max-width: 89px;
		width: 100%;
		height: 24px;
	}
}