@media (max-width: 1199px) { /* 타블렛 */
    header {
        padding: 1.25rem 2rem;
    }

    .section-01 {
        background-size: 693px;
        padding: 8.3125rem 0 23.125rem;
    }

    .wrap {
        width: 43.625rem;
    }
    
    .img-box {
        width: 385px;
        height: 315px;
    }
}

@media (max-width: 767px) { /* 모바일 */
    h2 {
        font-size: 32px;
        line-height: 42px;
        padding: 0 4rem;
    }

    h3 {
        font-size: 24px;
        line-height: 28px;
    }

    p {
        font-size: 15px;
        line-height: 22.5px;
    }

    br{
        display: inline-block;
        content: "";
    }

    .wrap {
        width: auto;
        padding: 0 2rem;
    }

    .img-box {
        width: 100%;
        height: 265px;
        margin: 1.25rem 0 1rem;
        position: relative;
    }

    .img-box > img {
        height: 100%;
    }

    header {
        padding: 13px 2rem;
        margin: -3.9375rem 0 0;
    }

    header > h1.logo > a {
        width: 88.67px;
        height: 16px;
    }

    .section-01 {
        background-size: 325px;
        padding: 5.6875rem 0 11.5rem;
    }

    .section-01 > h2 {
        margin: 0 0 24px;
    }

    .section-02 ul > li {
        margin: 11.9375rem 0 0;
        position: relative;
        flex-direction: column;
        align-items: baseline;
    }

    .section-02 ul > li:nth-child(2n) h3{
        position: absolute;
        left: 0;
        top: -28px;
    }

    .section-02 ul > li p {
        position: absolute;
        bottom: -2.8rem;
    }

    footer {
        position: relative;
        padding: 2rem 2rem 108px 2rem;
    }

    footer .copy {
        position: absolute;
        left: 2rem;
        bottom: 2rem;
    }
}