:root {
  --primary: #6d6afe;
  --red: #ff5b56;
  --black: #111322;
  --white: #ffffff;
  --gray-600: #3e3e43;
  --gray-500: #9fa6b2;
  --gray-400: #ccd5e3;
  --gray-300: #e7effb;
  --gray-200: #e7effb;
  --gray-100: #f0f6ff;
}
