* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--Linkbrary-bg-color);
}

:root {
  --Linkbrary-primary-color: #6d6afe;
  --Linkbrary-bg-color: #f0f6ff;
  --Linkbrary-gray100: #373740;
  --Linkbrary-gray20: #ccd5e3;
  --Linkbrary-gray10: #e7effb;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 238px 0 258px;
}

.ask-signup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.ask-signup > a {
  color: var(--Linkbrary-primary-color);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input {
  width: 370px;
  border: 1px solid var(--Linkbrary-gray20);
  border-radius: 8px;
  padding: 18px 15px;
  color: var(--Linkbrary-gray100);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.eye-off {
  position: absolute;
  width: 16px;
  left: 338px;
  top: 39px;
}

.label-email {
  margin: 30px 0 12px;
}

.input-email {
  position: relative;
  margin-bottom: 24px;
}

.label-pwd {
  margin-bottom: 12px;
  background-image: url("img/signin/eye-off.svg");
}

.input-pwd {
  margin-bottom: 30px;
}

.input-pwd.again {
  margin-bottom: 24px;
}

.signin-btn {
  margin-bottom: 32px;
  padding: 16px 20px;
  border: transparent;
  border-radius: 8px;
  background: linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%);
  color: #f5f5f5;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
}

.social-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 68px;
  padding: 12px 24px;
  border-radius: 8px;
  border: 1px solid var(--Linkbrary-gray20);
  background: var(--Linkbrary-gray10);
}

.social-tagline {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}

.social-link {
  display: flex;
  gap: 16px;
}

input:focus {
  /* border: var(--Linkbrary-primary-color); */
  outline-color: var(--Linkbrary-primary-color);
}
