.mt-5 {
  margin-top: 20px;
}
.mt-8 {
  margin-top: 32px;
}
.mr-3 {
  margin-right: 12px;
}
.mr-5 {
  margin-right: 20px;
}

.w-full {
  width: 100%;
}
.text-white {
  color: var(--white);
}
.text-muted {
  color: #6b6b6b;
}
.text-muted-2 {
  color: #676767;
}
.text-primary {
  color: var(--primary);
}

.text-sm {
  font-size: 14px;
}

.text-md {
  font-size: 16px;
}

.underline {
  text-decoration: underline;
}

.text-center {
  text-align: center;
}

.text-gradient-purple-to-pink {
  background-image: linear-gradient(to right, #6d6afe, #ff9f9f);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.text-gradient-pink-to-blue {
  background-image: linear-gradient(to right, #fe8a8a, #a4ceff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.text-gradient-yellow-to-blue {
  background-image: linear-gradient(to right, #ffd88b, #6fbaff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.text-gradient-blue-to-yellow {
  background-image: linear-gradient(to right, #6d7ccd, #52888538);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.text-gradient-cyan-to-red {
  background-image: linear-gradient(to right, #68e8f9, #fe578f);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.bg-gray-100 {
  background-color: var(--gray-100);
}
.bg-gray-200 {
  background-color: var(--gray-200);
}

.bg-blue-to-cyan {
  background: linear-gradient(to right, #6d6afe, #6ae3fe);
}

.bg-black {
  background-color: var(--black);
}

.desktop-order {
  order: none;
}

.relative {
  position: relative;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.gap-x-3 {
  column-gap: 12px;
}

.desktop-align {
  justify-self: none;
}
@media (min-width: 768px) {
  .desktop-align {
    justify-self: end;
  }
  .desktop-order {
    order: -1;
  }
}
