/* ui.css */

.btn {
  width: 128px;
  height: 53px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;

  @media (max-width: 768px) {
    font-weight: 600;
    font-size: 14px;
  }
}

.btn-cta {
  background: linear-gradient(to right, #6d6afe, #6ae3fe);
  color: white;
}

.btn-wide {
  width: 350px;
}

.btn-w-full {
  width: 100%;
}

.input {
  padding: 18px 15px;
  border: 1px var(--gray-400) solid;
  border-radius: 8px;
}

.input:focus {
  outline: none;
  border-color: var(--primary);
}
